---
  title: Periodic Table of White Mountain 4000-Footers
  og_img: https://withbr.io/images/og/periodic-4000.png
  og_desc: "An 18x24-inch print that presents a wealth of data on the 48 New Hampshire 4000-foot peaks in a format similar to the Periodic Table of Elements you might remember from high school chemistry class. Given for each summit is a difficulty rating, elevation, elevation rank, # of trails at summit, view type, summit type, Federal designation, county location, land manager, region within the Whites, and more!"
---

    <div class="hero" style="background-image: url('../images/work/periodic-4000-hero.jpg');"></div>

    <div class="page-section page-section--product">
      <div class="container">
        <div class="slideup">
          <div class="row justify-content-center mt-4 pt-4">
            <div class="col-lg-10 col-xl-8">
              <div class="page-section__lead page-section__lead--product">
                <h2 class="page-section__heading text-center">
                  <span>Periodic Table of White Mountain 4000-Footers</span>
                </h2>
                <p>
                  An 18x24-inch print that presents a wealth of data on the 48 New Hampshire 4000-foot peaks in a format similar to the Periodic Table of Elements you might remember from high school chemistry class.  
                </p>
                <figure class="text-center">
                  <%= image_tag('work/periodic/poster-pic-overview.jpg', :class => 'img-fluid') %>
                </figure>
                <p>
                  Given for each summit is a difficulty rating, elevation, elevation rank, # of trails at summit, view type, summit type, Federal designation, county location, land manager, region within the Whites, and more!
                </p>
                <figure class="text-center">
                  <%= image_tag('work/periodic/periodic-4000-key.jpg', :class => 'img-fluid') %>
                </figure>
                <p>
                  <b>Available at the following retailers</b>: <a href="http://www.mountainwanderer.com/proddetail.php?prod=NHH4000" class="link" target="_blank">The Mountain Wanderer</a>, <a href="http://www.bondcliffbooks.com/proddetail.php?prod=BRIO08182015-1" target="_blank">Bondcliff Books</a>, and the <a href="http://amcstore.outdoors.org/white-mountain-4000-footers-passport" target="_blank">AMC Store</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


