

      <section class="page-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
                <figure class="page-section__img">
                  <%= image_tag('products/wm48/wm48-hero.jpg', :class => 'img-fluid') %>
                </figure>
                <p>
                  Bound with a handsome dark blue leatherette cover, it includes a page for each of the 48 peaks on which to log date, companions and hike notes.
                </p>
                <figure class="page-section__img">
                  <%= image_tag('products/wm48/passport3.jpg', :class => 'img-fluid') %>
                </figure>
                <p>
                  Included are two sets of small peel-off stamps for each peak&mdash;one to place on the individual peak page, and another to place on the two-page centerspread to track your overall progress in climbing the "48."
                </p>
                <figure class="page-section__img">
                  <%= image_tag('products/wm48/white-mountain-hiking-passport.gif', :class => 'img-fluid') %>
                </figure>
                <p>
                  The stamps are referenced to a peak abbreviation key on the back page of the passport, using the same format as the poster. 52 pp., 3 1/2" X 5."
                </p>
              </div>
            </div>
        </div>
      </section>


