---
  title: White Mountain 4000-Footers Passport
---

    <section class="page-section page-section-intro page-section-passport">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
              <article class="teaser-text text-centered">
              <h2 class="heading heading-primary">
                White Mountain 4000-Footers Passport
              </h2>
              <p>
                Format: 3.5"x5", 52pp<br>
                Printer: R.C. Brayshaw &amp; Company<br>
                Type: Neutraface<br>
                Foundry: House Industries<br>
                Purchase from: <a href="http://www.mountainwanderer.com/proddetail.php?prod=NHH4000" class="link link-unadorned" target="_blank">The Mountain Wanderer</a>
              </p>
            </article>
          </div>
        </div>
    </section>

    <section class="page-section page-section-padded-md">
      <div class="passport"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <p>
              I kept track of my 4000s on various pieces of paper and then via some primitive word processing software from the 1990s. That worked just fine.
            </p>
            <p>
              But, with a baby on the way, I found myself imagining something more engaging&mdash;something that would appeal to those who like to collect things like <a href="http://media.web.britannica.com/eb-media/00/129300-050-EB4B0345.jpg" target="_blank">stamps</a> and relive journeys through momentos, like the Camino de Santigo's <a href="https://en.wikipedia.org/wiki/Camino_de_Santiago#Credencial_or_pilgrim.27s_passport" target="_blank">Pilgrim's Passport</a>.
            </p>
            <p>
              When Steve Smith said "it's just a concept waiting for someone to do it," I felt compelled but knew I'd need help. Luckily, my sister Kate was keen to lend a hand. Having worked at Starbucks and tested their own coffee passport, she was the ideal partner.
            </p>
            <figure class="faq-graphic">
              <div class="faq-graphic-img">
                <%= image_tag('passport/passport1.jpg', :class => 'img-responsive') %>
              </div>
              <figcaption class="faq-graphic-caption">
                The Passport features a blue leatherette cover with silver foil lettering.
              </figcaption>
            </figure>
            <p>
              Along the Camino de Santigo, one can stop at inns, shops, and information centers to acquire stamps for one's passport. Obviously, that wouldn't work for the unpopulated 4000-footer summits.
            </p>
            <p>
              Indeed, the honor system is the rule for the <a href="http://www.amc4000footer.org/" target="_blank">AMC 4000-Footer Club</a>, so we wondered what could stand in for cancellation stamps.
            </p>
            <p>
              Stickers seemed like the best choice. 
            </p>
            <figure class="faq-graphic">
              <div class="faq-graphic-img">
                <%= image_tag('passport/passport5.jpg', :class => 'img-responsive') %>
              </div>
              <figcaption class="faq-graphic-caption">
                One of two removable "done" sticker pages (peak abbreviation key in back not shown)
              </figcaption>
            </figure>
            <p>
              We wanted our passport to pay homage to the US Passport, but not directly mimic it, lest someone show up at Logan with woefully inadequate identification.
            </p>
            <p>
              So, we relied our fantastic printer <a href="http://www.rcbrayshaw.com/" target="_blank">RC Bradshaw &amp; Company</a> to guide us to the right materials. Like the US Passport, we chose a dark blue leatherette cover, but for lettering we opted for silver foil rather than gold.
            </p>
            <p>
              We studied birding, fishing, and other hiking passports when concepting the interior pages, but in the end we found those overly prescriptive in terms of what to record. We decided to keep things simple, adding only the fields required on the <a href="http://www.amc4000footer.org/appwm4.pdf" target="_blank">official application form</a> and leaving the rest up to each hiker.
            </p>
            <figure class="faq-graphic">
              <div class="faq-graphic-img">
                <%= image_tag('passport/passport3.jpg', :class => 'img-responsive') %>
              </div>
              <figcaption class="faq-graphic-caption">
                Individual peak pages have space for official info, as well as personal notes.
              </figcaption>
            </figure>
            <p>
              One thing we noticed when looking at people's trip galleries was that they kept track of the order in which they hiked the 4000s, usually by holding up a handmade sign with the number of peaks done to that point in their summit shot.
            </p>
            <p>
              We wondered how we could capture that personal nature of people's 4000-footer journey. And the answer came from <a href="http://media.web.britannica.com/eb-media/00/129300-050-EB4B0345.jpg" target="_blank">stamp collecting books</a>.
            </p>
            <p>
              We think it really helps make the passport more than just a checklist. It's a momento of your journey.
            </p>
            <figure class="faq-graphic">
              <div class="faq-graphic-img">
                <%= image_tag('passport/passport4.jpg', :class => 'img-responsive') %>
              </div>
              <figcaption class="faq-graphic-caption">
                The centerspread features a "progress tracker" so you can track peaks in the order in which you hike them.
              </figcaption>
            </figure>
            <p>
              Happy trails!
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="page-section page-section-contact">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h2 class="heading heading-primary">
              Contact
            </h2>
            <form class="contact-form" name="contact" action="thank-you">
              <div class="form-field">
                <label class="form-label">
                  First Name
                </label>
                <input type="text" name="first_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Last Name
                </label>
                <input type="text" name="last_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Email
                </label>
                <input type="email" name="email">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Your message
                </label>
                <textarea name="message"></textarea>
              </div>
              <div class="form-field form-field-submit">
                <button class="button-submit">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

