---
  title: White Mountain 4000-Footers Passport
---


    <section class="page-section page-section-padded-md">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-2">
            <dl class="work-info">
              <dt class="work-info-dt">
                Title
              </dt>
              <dd class="work-info-dd">
                White Mountain 4000-Footers Passport
              </dd>
              <dt class="work-info-dt">
                Format
              </dt>
              <dd class="work-info-dd">
                3.5"x5", 52pp
              </dd>
              <dt class="work-info-dt">
                Printer
              </dt>
              <dd class="work-info-dd">
                R.C. Brayshaw &amp; Company
              </dd>
              <dt class="work-info-dt">
                Typeface
              </dt>
              <dd class="work-info-dd">
                Neutraface (House Industries)
              </dd>
              <dt class="work-info-dt">
                Purchasing
              </dt>
              <dd class="work-info-dd">
                <a href="http://www.mountainwanderer.com/proddetail.php?prod=NHH4000" class="link link-unadorned" target="_blank">The Mountain Wanderer</a>, <a href="http://www.bondcliffbooks.com/proddetail.php?prod=BRIO08182015-1" target="_blank">Bondcliff Books</a>, and the <a href="http://amcstore.outdoors.org/white-mountain-4000-footers-passport" target="_blank">AMC Store</a>
              </dd>
            </dl>
          </div>
          <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-0 col-lg-9 col-lg-offset-1">
            <figure class="faq-graphic">
              <div class="row">
                <div class="col-md-8">
                  <%= image_tag('passport/passport1.jpg', :class => 'img-responsive faq-graphic-img') %>
                </div>
                <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                  <div class="faq-graphic-caption">
                    The Passport features a blue leatherette cover with silver foil lettering.
                  </div>
                </figcaption>
              </div>
            </figure>
            <div class="faq-copy">
              <div class="row">
                <div class="col-md-8">
                  <p>
                    I kept track of my 4000s on various pieces of paper and then via some primitive word processing software from the 1990s. That worked just fine.
                  </p>
                  <p>
                    But, with a baby on the way, I found myself imagining something more engaging&mdash;something that would appeal to those who like to collect things like <a href="http://media.web.britannica.com/eb-media/00/129300-050-EB4B0345.jpg" target="_blank">stamps</a> and relive journeys through momentos, like the Camino de Santiago's <a href="https://en.wikipedia.org/wiki/Camino_de_Santiago#Credencial_or_pilgrim.27s_passport" target="_blank">Pilgrim's Passport</a>.
                  </p>
                  <p>
                    When Steve Smith said <q>it's just a concept waiting for someone to do it,</q> I felt compelled but knew I'd need help. Luckily, my sister Kate was keen to lend a hand. Having worked at Starbucks and tested their own coffee passport, she was the ideal partner.
                  </p>
                </div>
              </div>
            </div>
            <figure class="faq-graphic">
              <div class="row">
                <div class="col-md-8">
                  <%= image_tag('passport/passport5.jpg', :class => 'img-responsive faq-graphic-img') %>
                </div>
                <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                  <div class="faq-graphic-caption">
                    One of two removable "done" sticker pages (peak abbreviation key in back not shown)
                  </div>
                </figcaption>
              </div>
            </figure>
            <div class="faq-copy">
              <div class="row">
                <div class="col-md-8">
                  <p>
                    Along the Camino de Santiago, one can stop at inns, shops, and information centers to acquire stamps for one's passport. Obviously, that wouldn't work for the unpopulated 4000-footer summits.
                  </p>
                  <p>
                    Indeed, the honor system is the rule for the <a href="http://www.amc4000footer.org/" target="_blank">AMC 4000-Footer Club</a>, so we wondered what could stand in for cancellation stamps.
                  </p>
                  <p>
                    Stickers seemed like the best choice. 
                  </p>
                </div>
              </div>
            </div>
            <figure class="faq-graphic">
              <div class="row">
                <div class="col-md-8">
                  <%= image_tag('passport/passport3.jpg', :class => 'img-responsive faq-graphic-img') %>
                </div>
                <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                  <div class="faq-graphic-caption">
                    Individual peak pages have space for official info, as well as personal notes.
                  </div>
                </figcaption>
              </div>
            </figure>
            <div class="faq-copy">
              <div class="row">
                <div class="col-md-8">
                  <p>
                    We wanted our passport to pay homage to the US Passport, but not directly mimic it, lest someone show up at Logan with woefully inadequate identification.
                  </p>
                  <p>
                    So, we relied on our fantastic printer <a href="http://www.rcbrayshaw.com/" target="_blank">RC Brayshaw &amp; Company</a> to guide us to the right materials. Like the US Passport, we chose a dark blue leatherette cover, but for lettering we opted for silver foil rather than gold.
                  </p>
                  <p>
                    We studied birding, fishing, and other hiking passports when concepting the interior pages, but in the end we found those overly prescriptive in terms of what to record. We decided to keep things simple, adding only the fields required on the <a href="http://www.amc4000footer.org/appwm4.pdf" target="_blank">official AMC 4000-Footer Club application form</a> and leaving the rest up to each hiker.
                  </p>
                </div>
              </div>
            </div>
            <figure class="faq-graphic">
              <div class="row">
                <div class="col-md-8">
                  <%= image_tag('passport/passport4.jpg', :class => 'img-responsive faq-graphic-img') %>
                </div>
                <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                  <div class="faq-graphic-caption">
                    The centerspread features a "progress tracker" so you can track peaks in the order in which you hike them.
                  </div>
                </figcaption>
              </div>
            </figure>
            <div class="faq-copy">
              <div class="row">
                <div class="col-md-8">
                  <p>
                    One thing we noticed when looking at people's trip galleries was that they kept track of the order in which they hiked the 4000s, usually by holding up a handmade sign with the number of peaks done to that point in their summit shot.
                  </p>
                  <p>
                    We wondered how we could capture that personal nature of people's 4000-footer journey. And the answer came from <a href="http://media.web.britannica.com/eb-media/00/129300-050-EB4B0345.jpg" target="_blank">stamp collecting books</a>.
                  </p>
                  <p>
                    We think it really helps make the passport more than just a checklist. It's a momento of your journey.
                  </p>
                  <p>
                    Happy trails!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

