---
  title: Periodic Table of Ski Resorts - California
  og: 
---

    <div class="page-section page-section--text">
      <div class="container">
        <figure class="text-center">
          <%= image_tag('work/periodic-ski-cali.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-5 pt-5">
          <div class="col-lg-8">
            <article class="page-section__lead">
              <h2 class="page-section__heading text-center">
                <span>Periodic Table of Ski Resorts - California</span>
              </h2>
              <p>
                The Periodic Table of Ski Resorts brings a data-oriented approach to different ski regions by packing incredible and extensive detail about each ski resort into a beautifully designed 24” x 18” poster.
              </p>
              <p>
                Each individual box contains information on a particular ski resort’s vertical rise, base and summit elevations, average amount of snowfall, trail difficulty, number of runs, number of lifts, and available indicators for night skiing, artificial snowmaking, terrain parks and Nordic (XC) skiing.
              </p>
              <p>
                The California print uses current data from the 2015-2016 season and features all major and minor resorts in California including: Mammoth Mountain, Squaw Valley, Kirkwood, Donner Ski Ranch, China Peak, Bear Mountain and Sugar Bowl.
              </p>
              <p>
                <b>Available at</b>: <a href="https://www.circlesquarediamond.com/collections/periodic-table-of-ski-resorts/products/periodic-table-ski-resorts-california" target="_blank">Circle Square Diamond</a>
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>