@import "bootstrap";

$orange: #FF723C;
$red: #F90039;
$blue: #00A4B5;
$green: #4BB25C;
$light_gray: #dadada;
$mid_gray: #777;
$dark_gray: #2E3C40;
$rule_gray: #ccc;




/* ==========================================================================
   Base
   ========================================================================== */

html {
  background-color: #fff;
}



/* ==========================================================================
   Site Structure
   ========================================================================== */

#site-header {
  padding: 1.5rem 0;
  border-bottom: 1px solid $light_gray;
}

.nav {
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-size: 0.7rem;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $mid_gray;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
    color: $dark_gray;
    cursor: pointer;
  }

  + .nav {
    margin-left: 0.85rem;
    padding-left: 1.5rem;
  }

  &--work {
    .work_index & {
      color: $dark_gray;
      text-decoration: underline;
      &:hover, &:focus {
        text-decoration: underline;
        color: $dark_gray;
        cursor: default;
      }
    }
  }
  &--about {
    .about_index & {
      color: $dark_gray;
      text-decoration: underline;
      &:hover, &:focus {
        text-decoration: underline;
        color: $dark_gray;
        cursor: default;
      }
    }
  }
  &--blog {
    .blog_index & {
      color: $dark_gray;
      text-decoration: underline;
      &:hover, &:focus {
        text-decoration: underline;
        color: $dark_gray;
        cursor: default;
      }
    }
  }

}

.nav-icon {
  stroke-width: 0;
  stroke: currentColor;
  fill: $dark_gray;
  &:hover, &:focus {
    fill: $green;
    cursor: pointer;
  }
  &--brio {
    display: block;
    width: 4.8505859375em;
    height: 1em;
    max-width: 100px;
    max-height: auto;
    line-height: 0.7em;
    max-height: auto;
    .logo-link & {
      .index & {
        &:hover, &:focus {
          fill: $dark_gray;
          cursor: default;
        }      
      }
    }
  }
  &--mail {
    display: block;
    float: right;
    width: 1.25em;
    height: 1.25em;
    max-width: auto;
    max-height: auto;
    line-height: 0.7em;
    max-height: auto;
    .mail-link & {
      .contact & {
        &:hover, &:focus {
          fill: $dark_gray;
          cursor: default;
        }      
      }
    }
  }
}

.mt-logos {
  margin-top: 5rem;
}

#site-main {
  min-height: 82vh;
}

#site-footer {
  border-top: 1px solid $light_gray;
  padding: 1.5rem 0;
  font-size: 0.7rem;
  text-align: center;
  color: $mid_gray;
}

.page-section {
  position: relative;
  padding: 80px 0;
  &:last-child {
    padding-bottom: 150px;
  }
  &--unpadded {
    padding: 0;
  }
  &--extratop {
    margin-top: 80px;
  }
  &--teaser {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.2;
    color: $dark_gray;
    @media screen and (min-width: 576px) {
      font-size: 2.75rem;
    }
    @media screen and (min-width: 992px) {
      margin: 0 50px;
    }
  }
}



/* ==========================================================================
   Homepage
   ========================================================================== */

.featured {
  position: relative;
  display: block;
  min-height: 320px;
  background-size: cover;
  background-position: 50% 50%;
  &__caption {
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    z-index: 2;
    background-color: rgba(255,255,255, 0.925);
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
    font-weight: 600;
    transform: scale(0.5);
    opacity: 0;
    transition: transform .5s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  &:hover, &:focus {
    text-decoration: none;
    .featured__caption {
      transform: scale(1);
      opacity: 1;
    }
  }
}


/* ==========================================================================
   Icons
   ========================================================================== */

.icon {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 75px;
  stroke-width: 0;
  stroke: currentColor;
  fill: $dark_gray;

  &--cfp {
    max-height: 90px;
  }

  &--gnip {
    max-height: 60px;
  }

  &--twitter {
    max-height: 60px;
  }

  &--scott-jurek {
    max-width: 180px;
  }

}



/* ==========================================================================
   Work
   ========================================================================== */

.faq-q {
  margin: 40px 0 5px;
  font: 800 1.8rem/1.2 "Josefin Slab", serif;
  &:first-child {
    margin-top: 0;
  }
}

.faq-graphic {
  margin: 40px 0 0;
  &:first-of-type {
    margin-top: 0;
  }
  @media screen and (min-width: 992px) {
    margin: 40px 0;
    .page-section-work & {
      margin: 0;
    }
  }
}

.faq-graphic-img {
  box-shadow: 0 0 1px $rule_gray;
}

.faq-graphic-caption {
  margin-bottom: 40px;
  border-bottom: 1px solid $rule_gray;
  padding: 10px 0;
  font: italic 300 1.4rem/1.4 "Josefin Slab", serif;
  @media screen and (min-width: 992px) {
    margin: 0;
    border-bottom: none;
    border-top: 1px solid $rule_gray;
  }
}

.faq-graphic-caption-noborder {
  @media screen and (max-width: 991px) {
    margin-top: 40px;
    padding: 0;
    font: 300 1.4rem/1.7 "Montserrat", sans-serif;
    border-bottom: none;
    border-top: none;
  }  
}

.work-info {
  margin: 0;
}

.work-info-dt {
  margin: 0;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.work-info-dd {
  margin: 0 0 10px;
  font: 300 1.4rem/1.4 "Josefin Slab", serif;
}


/* ==========================================================================
   Contact
   ========================================================================== */


.form-field {
  + .form-field {
    margin-top: 30px;
  }
}

.form-field-submit {
  text-align: right;
}

.form-label {
  display: block;
  margin: 0 0 8px;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #333;
}

input[type="text"], input[type="email"], textarea {
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 0.3rem;
  padding: 0.9rem;
  font-size: 1rem;
  color: $mid_gray;
}

textarea {
  min-height: 300px;
}

.button-submit {
  display: inline-block;
  border: none;
  padding: 12px 20px;
  background-color: $green;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  @include transition();
  &:hover, &:focus {
    background-color: darken($green, 7%);
    cursor: pointer;
  }
}



/* ==========================================================================
   Utilities
   ========================================================================== */

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.link-unadorned {
  color: #222;
  &:hover, &:focus {
    text-decoration: none;
  }
}

