@import 
  "mixins",
  "reset",
  "grid",
  "spacing",
  "text";

$orange: #FF723C;
$red: #F90039;
$blue: #00A4B5;
$green: #4BB25C;
$light_gray: #dadada;
$mid_gray: #777;
$dark_gray: #2E3C40;
$rule_gray: #ccc;

// rainbow
$gradient1: transparentize(#23D5AB, 0.2); // turquoise - 4th listed
$gradient2: transparentize(#23A6D5, 0.2); // blue - 3rd listed
$gradient3: transparentize(#E73C7E, 0.2); // pink - 2nd listed
$gradient4: transparentize(#EE7752, 0.2); // peach - 1st listed




/* ==========================================================================
   Base
   ========================================================================== */

html {
  background-color: #13161b;
}

body {
  background-color: #fff;
  font: 400 1em/1.6 "Work Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img {
  display: inline-block;
  vertical-align: middle;
}

::selection {
    background: #13161b;
    color: #fff;
    text-shadow: none;
}

a {
  color: #13161b;
  font-weight: 500;
  text-decoration: underline;
  &:hover, &:focus {
    color: #13161b;
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
}

b, strong, dt {
  font-weight: 500;
}

i, em, cite {
  font-style: italic;
}


/* ==========================================================================
   Site Structure
   ========================================================================== */

.site-header {
  padding: 2rem 0;
  // background-color: #13161b;
  // position: relative;
  // &:after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 1;
  //   height: 7px;
  //   margin: 0 auto;
  //   background-color: #fff;
  //   background-size: 100% 100%;
  //   background-position: 0 50%;
  //   background-image: linear-gradient(-45deg, $gradient4, $gradient3, $gradient2, $gradient1);
  // }
}

.site-footer {
  padding: 3rem 0;
  background-color: #13161b;
}

// .aurora {
//   position: relative;
//   min-width: 100%;
//   min-height: 200px;
//   background: linear-gradient(-45deg, $gradient4, $gradient3, $gradient2, $gradient1);
//   background-size: 400% 400%;
//   background-position: 0% 50%;
//   -webkit-animation: Gradient 4s ease 1;
//   -moz-animation: Gradient 4s ease 1;
//   animation: Gradient 4s ease 1;
// }


/* ==========================================================================
   Site Nav
   ========================================================================== */

.brand {
  display: inline-block;
  // position: relative;
  // padding: 1rem 2rem;
  font-family: "Work Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.55rem;
  font-weight: 900;
  text-decoration: none;
  // text-transform: uppercase;
  // &:after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 2;
  //   background-color: #13161b;
    // transform: skew(-10deg);
  // }
  img {
    position: relative;
    z-index: 3;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: #13161b;
    &::first-letter {
      color: #EE7752;
    }
  }
}

.menu-item {
  display: inline-block;
  margin-right: 3rem;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: lowercase;
  &:hover, &:focus {
    text-decoration: none;
    cursor: pointer;
  }
  &--header {
    font-weight: 500;
    color: #13161b;
    &:hover, &:focus {
      color: #666;
    }
    &.active {
      color: #13161b;
      &:hover, &:focus {
        color: #13161b;
        cursor: default;
      }
    }
  }
  &--footer {
    font-weight: 400 !important;
    color: #666 !important;
    &:hover, &:focus {
      color: #aaa !important;
    }
  }

  // no margin on last menu item
  &:last-child {
    margin-right: 0;
  }

}




/* ==========================================================================
   Utilities
   ========================================================================== */
.container, .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid {
  &--maxwidth {
    @media screen and (min-width: 1200px) {
      max-width: 1600px;
    }
  }
  &--plump {
    padding-top: 0;
    .row {
      margin-left: -25px;
      margin-right: -25px;
      > .col,
      > [class*="col-"] {
        padding-right: 25px;
        padding-left: 25px;
      }
    }
  }
}

.page-section {
  padding: 55px 0;
  @media screen and (min-width: 768px) {
    padding: 95px 0;
  }

  &--gray {
    background-color: #f1f1f1;
  }

  &--compact-top {
    padding-top: 0;
  }

  &__heading {
    margin: 0 0 50px;
    font-size: 11px;
    font-weight: 400;
    line-height: 2.4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    span {
      background-position: 0 90%;
      background-size: 1px 1px;
      background-image: linear-gradient(#fff 50%, #000 50%);
      background-repeat: repeat-x;
      padding: 0 0.1em 0.5em;
      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }
  }

}

.page-header {
  padding: 55px 0;
  @media screen and (min-width: 768px) {
    padding: 4.5% 0;
  }
  &__title {
    margin-bottom: 0.75rem;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    @media screen and (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  &__specs {
    margin-bottom: 0.75rem;
    list-style: none;
    font-weight: 500;
    font-size: 0.9rem;
    @media screen and (min-width: 992px) {
      margin-bottom: 0;
    }
    li {
      display: inline;
      &:after {
        content: ", ";
      }
      &:last-child:after {
        content: "";
        display: none;
      }
      @media screen and (min-width: 992px) {
        display: block;
        &:after {
          display: none;
        }
      }
    }
    a {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
      &:visited {

      }
    }
  }
  &__blurb {
    color: #555;
    p {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      } 
    }
  }
}

.blockquote {
  padding: 2rem 0 3rem;
  text-align: center;
  &__quote {
    margin-bottom: 0.5rem;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 1.1;
  }
  &__footer {
    font-weight: 400;
    font-size: 0.8;
    color: #555;
  }
}

// .skills-list {
//   line-height: 1;
//   &__title {
//     margin-bottom: 0.15em;
//     font-weight: 400;
//     font-size: 24px;
//     line-height: 1.4;
//   }
//   &__item {
//     display: inline;
//     font-weight: 400;
//     font-size: 0.9375em;
//     color: #777;
//     &::after {
//       content: ", ";
//       margin: 0;
//       padding: 0;
//       display: inline;
//     }
//     &:last-of-type::after {
//       content: "";
//       display: none;
//     }
//   }
// }

// .blockquote-footer {
//   font-weight: 300;
//   font-size: 17px;
//   line-height: 1.5;
//   color: #777;
// }


/* ==========================================================================
   Home 
   ========================================================================== */

// .showcase-block {
//   position: relative;
//   overflow: hidden;
//   &--visuals {
//     padding-top: 100px;
//   }
//   &:after {
//     content: "";
//     display: block;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 10;
//     height: 1px;
//     background: #7db9e8; /* Old browsers */
//     background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ccc 30%, #ccc 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #ccc 30%, #ccc 70%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to right, rgba(255,255,255,0) 0%, #ccc 30%, #ccc 70%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
//   }
// }

// .showcase-block__img {
//   position: absolute;
//   bottom: 0;
//   width: 15%;
//   &.undercast {
//     position: relative;
//     width: 80%;
//     height: auto;
//     z-index: 1;
//     transform: translateY(40%);
//     .viewed & {
//       @include riseup('undercast', 40%, 5%, 0.7s); // ($name, $from, $to, $speed, $delay)
//     }
//   }
//   &.wm48 {
//     top: 0;
//     left: 5%;
//     z-index: 5;
//     transform: translateY(200%);
//     .viewed & {
//       @include riseup('wm48', 200%, 80%, 1.2s); // ($name, $from, $to, $speed, $delay)
//     }
//   }
//   &.nh52 {
//     top: 0;
//     right: 5%;
//     z-index: 5;
//     transform: translateY(200%);
//     .viewed & {
//       @include riseup('nh52', 200%, 60%, 1s); // ($name, $from, $to, $speed, $delay)
//     }
//   }
//   &.fingerprints {
//     width: 25%;
//     right: 15%;
//     z-index: 2;
//     transform: translateY(10%);
//     .viewed & {
//       @include riseup('fingerprints', 10%, 5%, 1.9s); // ($name, $from, $to, $speed, $delay)
//     }
//   }
//   &.ski {
//     width: 35%;
//     left: 50%;
//     z-index: 2;
//     margin-left: -17.5%;
//     transform: translateY(70%);
//     .viewed & {
//       @include riseup('ski', 70%, 5%, 1.5s); // ($name, $from, $to, $speed, $delay)
//     }
//   }
//   &.periodic-4000 {
//     width: 25%;
//     left: 15%;
//     z-index: 2;
//     transform: translateY(10%);
//     .viewed & {
//       @include riseup('periodic-4000', 10%, 5%, 1.6s); // ($name, $from, $to, $speed, $delay)
//     }
//   }
// }


/* ==========================================================================
   Products
   ========================================================================== */




/* ==========================================================================
   Product - Standalone Pages
   ========================================================================== */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}

.card-columns {
  .card {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    column-count: 3;
    column-gap: 30px;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}

.available_at {
  margin-top: 1rem;
  font-size: 0.9rem;
  dt, dd {
    // display: inline;
    font-weight: 500;
  }
  dd {
    // &:after {
    //   content: ', ';
    //   display: inline-block;
    // }
    // &:last-child {
    //   &:after {
    //     content: '';
    //     display: none;
    //   }
    // }
  }
}

.leftovers-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
  font-size: 1.3rem;
  &__item {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #13161b;
      font-weight: 900;
      text-decoration: none;
      &:hover, &:focus {
        color: $blue;
      }
    }
  }
}


/* ==========================================================================
   Work
   ========================================================================== */

.showcase {
  margin: 0 0 30px;
  &__title {
    font-weight: 700;
    font-size: 2.15rem;
    line-height: 1.1;
  }
  &__title {
    font-size: 1.2rem;
    font-weight: 900;
  }
  &__img {
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    background-color: #fff;
    background-size: 400% 400%;
    background-position: 0 50%;
    text-decoration: none;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      background-size: 200% 200%;
    }
  }
  &__teaser {
    margin-bottom: 0 !important;
    font-size: 1rem !important;
  }
  // every sixth, starting with the first
  &:nth-child(6n-11) {
    .showcase__img {
      background-image: linear-gradient(-45deg, $gradient3, $gradient2, $gradient1);
    }
  }
  // every sixth, starting with the second
  &:nth-child(6n-10) {
    .showcase__img {
      background-image: linear-gradient(-45deg, $gradient4, $gradient3, $gradient2);
    }
  }
  // every sixth, starting with the third
  &:nth-child(6n-9) {
    .showcase__img {
      background-image: linear-gradient(-45deg, $gradient1, $gradient4, $gradient3);
    }
  }
  // every sixth, starting with the fourth
  &:nth-child(6n-8) {
    .showcase__img {
      background-position: 100% 75%;
      background-image: linear-gradient(-45deg, $gradient3, $gradient4, $gradient2);
    }
  }
  // every sixth, starting with the fifth
  &:nth-child(6n-7) {
    .showcase__img {
      background-position: 50% 75%;
      background-image: linear-gradient(-45deg, $gradient2, $gradient3, $gradient4);
    }
  }
  // every sixth, starting with the sixth
  &:nth-child(6n) {
    .showcase__img {
      background-position: 50% 25%;
      background-image: linear-gradient(-45deg, $gradient1, $gradient2, $gradient3);
    }
  }
}



/* ==========================================================================
   Contact
   ========================================================================== */

.contact-form {
  margin-bottom: 10%;
}

.form-field {
  + .form-field {
    margin-top: 30px;
  }
}

.form-field-submit {
  text-align: right;
}

.form-label {
  display: block;
  margin: 0 0 8px;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #333;
}

.button-submit {
  display: inline-block;
  border: none;
  padding: 12px 20px;
  background-color: $orange;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  transition: background-color 0.5s ease-in-out;
  &:hover, &:focus {
    background-color: darken($orange, 7%);
    cursor: pointer;
  }
}



/* ==========================================================================
   Bootstrapy
   ========================================================================== */

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  font-size: 0.625rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid $light_gray;
  padding: 0.375rem 0.75rem;
  font-size: 0.625rem;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &:focus, &.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

}


.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.9rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}


/* ==========================================================================
   Animations 
   ========================================================================== */

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-webkit-keyframes slideInLeft {

  0% {
    opacity: 0;
    -webkit-transform: translateX(-3000px);
    transform: translateX(-3000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }

  75% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  90% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {

  0% {
    opacity: 0;
    -webkit-transform: translateX(-3000px);
    transform: translateX(-3000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }

  75% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  90% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

