@import "bootstrap";

$orange: #FF723C;
$red: #F90039;
$blue: #00A4B5;
$green: #4BB25C;
$light_gray: #dadada;
$mid_gray: #777;
$dark_gray: #2E3C40;
$rule_gray: #ccc;




/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-size: 18px;
  background-color: $dark_gray;
  &.index {
    background: transparent url('../images/work/fingerprints2.jpg') no-repeat center center;
    background-size: cover;
  }
}

a {
  color: $blue;
  text-decoration: underline;
  &:hover, &:focus {
    color: $orange;
    text-decoration: none;
  }
}


/* ==========================================================================
   Site Structure
   ========================================================================== */

#site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

#site-main {
  .contact_index & {
    background-color: #f5f5f5;
  }
}

#site-footer {
  padding: 1.5rem 0;
  text-align: center;
  background-color: $dark_gray;
  font: 400 11px/1 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $light_gray;
}


/* ==========================================================================
   Site Nav
   ========================================================================== */

.menu-toggler {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  [aria-expanded=true] & {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgba(0,0,0, 1)' d='M27.8,26.19L17.61,16L27.8,5.811 c0.259-0.249,0.269-0.66,0.021-0.919c-0.007-0.006-0.014-0.013-0.021-0.02l-0.671-0.671c-0.246-0.259-0.655-0.27-0.914-0.023 c-0.009,0.007-0.016,0.015-0.023,0.023L16,14.392L5.944,4.202C5.698,3.943,5.289,3.932,5.03,4.178 C5.022,4.186,5.014,4.194,5.006,4.202L4.202,5.006C3.943,5.252,3.932,5.662,4.178,5.92c0.008,0.008,0.016,0.016,0.023,0.024 l10.19,10.191L4.202,26.19c-0.259,0.247-0.27,0.656-0.023,0.916c0.007,0.008,0.015,0.016,0.023,0.022L4.873,27.8 c0.248,0.259,0.659,0.269,0.918,0.021c0.007-0.007,0.014-0.014,0.021-0.021L16,17.61L26.191,27.8 c0.248,0.259,0.658,0.269,0.918,0.021c0.007-0.007,0.014-0.014,0.02-0.021l0.671-0.671c0.259-0.249,0.268-0.66,0.019-0.92 C27.812,26.203,27.807,26.196,27.8,26.19z'/%3E%3C/svg%3E");
  }
}

.site-header__menu {
}

#mainmenu {
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.menu-item {
  display: block;
  font: 400 11px/1 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $mid_gray;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  &--products {
    .products_index & {
      color: #000;
      &:hover, &:focus {
        color: #000;
        cursor: default;
      }
    }
  }
  &--work {
    .work_index & {
      color: #000;
      &:hover, &:focus {
        color: #000;
        cursor: default;
      }
    }
  }
  &--about {
    .about_index & {
      color: #000;
      &:hover, &:focus {
        color: #000;
        cursor: default;
      }
    }
  }
  &--adventures {
    .adventures & {
      color: #000;
      &:hover, &:focus {
        color: #000;
        cursor: default;
      }
    }
  }
  &--contact {
    .contact_index & {
      color: #000;
      &:hover, &:focus {
        color: #000;
        cursor: default;
      }
    }
  }
  + .menu-item {
    border-top: 1px solid #ddd;
  }
}




/* ==========================================================================
   Utilities
   ========================================================================== */

.page-section {

  padding: 95px 0;
  background-color: #fff;

  @media screen and (min-width: 768px) {
    padding: 70px 0 35px;
    &:first-child {
      padding-top: 140px;
    }
    &:last-child {
      padding-bottom: 90px;
    }
    + .page-section--gray {
      padding-top: 70px;
    }
  }

  &--home {
    min-height: 100vh;
    color: #fff;
    background-color: rgba(0,0,0, 0.2);
    box-shadow: inset 0 0 15vw 15vw rgba(0,0,0, 0.25);
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
  }

  &--gray {
    background-color: #f5f5f5;
  }

  &--photo {
    padding: 0;
    &:last-of-type, {
      padding-bottom: 90px;
    }
    + .page-section {
      padding-top: 70px;
    }
  }

  &__heading {
    margin: 0 0 25px;
    font: 400 11px/25px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    span {
      background-position: 0 90%;
      background-size: 1px 1px;
      background-image: linear-gradient(#fff 50%, #000 50%);
      background-repeat: repeat-x;
      padding: 0 0.1em 0.5em;
      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  &__lead {
    font: 400 25px/1.6 Georgia, serif;
    text-shadow: 0 1px 0 #fff;
    p {
      margin-bottom: 2.35rem;
    }
    .page-section--home & {
      text-shadow: 1px 1px 1px rgba(0,0,0, 1);      
    }
  }

}

.btn {
  border-radius: 0;
  text-decoration: none;
  font: 400 11px/25px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.btn-outline-light {
  &:hover, &:focus {
    background-color: rgba(255,255,255, 0.2);
  }  
}


/* ==========================================================================
   Animations 
   ========================================================================== */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



/* ==========================================================================
   Home 
   ========================================================================== */



/* ==========================================================================
   Products
   ========================================================================== */

.product-row {
  margin-left: -20px;
  margin-right: -20px;
}

.product {

  position: relative;
  display: block;
  margin-bottom: 30px;
  text-decoration: none;

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    background-color: rgba(0,0,0, 0.35);
    box-shadow: inset 0 0 100px 15px rgba(0,0,0, 0.55);
    transition: background-color 0.3s ease-in-out;
    color: #fff;
    &:hover, &:focus {
      background-color: rgba(0,0,0, 0);
      color: $blue;
      p {
        background-color: rgba(255,255,255, 0.8);
      }
    }
    p {
      display: inline-block;
      padding: 2px;
      background-color: rgba(#fff, 0.2);
      margin-bottom: 0;
      font: 400 11px/15px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }

}



/* ==========================================================================
   Work
   ========================================================================== */




/* ==========================================================================
   Contact
   ========================================================================== */


.form-field {
  + .form-field {
    margin-top: 30px;
  }
}

.form-field-submit {
  text-align: right;
}

.form-label {
  display: block;
  margin: 0 0 8px;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #333;
}

.form-control {
  padding: 0.9rem;
  font-size: 1rem;
}

.button-submit {
  display: inline-block;
  border: none;
  padding: 12px 20px;
  background-color: $green;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  @include transition();
  &:hover, &:focus {
    background-color: darken($green, 7%);
    cursor: pointer;
  }
}


