
<% 
    pages = ['products', 'work', 'contact'] 
%>

    <div class="text-center">
      <% pages.each do |link| %>
        <%= link_to link.to_s.capitalize, '/' + link.to_s, :class => 'd-flex-item menu-item menu-item--footer' %>
      <% end %>
    </div>
