
<% 
    pages = ['products', 'work', 'contact'] 
%>

    <div class="container-fluid container-fluid--maxwidth">
      <nav class="row justify-content-between align-items-center">
        <div class="col-12 col-sm-auto text-center text-sm-left">
          <a class="brand" href="/">
            <span>+ brio</span>
          </a>
        </div>
        <div class="col-12 col-sm-auto text-center text-sm-left align-self-center pt-4 pt-sm-0">
            <% pages.each do |link| %>
                <a href="/<%= link.to_s %>" class="menu-item menu-item--header<%= page_classes.include?(link.to_s + '_index') ? ' active' : '' %>">
                  <%= link.to_s.capitalize %>
                </a>
            <% end %>
        </div>
      </nav>
    </div>


