
      <nav class="d-flex px-3">
        <a class="mr-auto" href="/">
          <%= image_tag('logo.svg', :height => '24') %>
        </a>
        <a href="#mainmenu" role="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle menu">
          <span class="menu-toggler"></span>
        </a>
      </nav>
