
      <div class="container-fluid">
        <nav class="row align-items-center justify-content-between">
          <div class="col-6 col-sm-3">
            <a href="/" class="d-block">
              <svg class="nav-icon nav-icon--brio" viewBox="0 0 160 32">
                <path id="plus" d="M0 0v31.999h31.999v-31.999h-31.999zM26.666 19.649h-7.017v7.018h-7.298v-7.018h-7.017v-7.298h7.017v-7.018h7.298v7.018h7.017v7.298z"></path>
                <path id="text" d="M67.287 23.599c0-5.269-2.022-6.931-5.389-7.812v-0.091c3.368-0.925 5.068-2.883 5.068-7.782 0-2.496-0.616-4.687-2.094-6.212-1.249-1.246-2.727-1.701-5.591-1.701h-22.085v7.298h3.368v17.965h-3.368v6.737h22.038c2.635 0 4.35-0.387 5.691-1.729 1.478-1.479 2.364-3.485 2.364-6.674l-0.001 0.002zM50.106 6.737h5.061c0.877 0 1.2 0.232 1.432 0.464 0.324 0.323 0.508 1.018 0.508 2.59 0 1.617-0.231 2.319-0.554 2.689-0.277 0.276-0.601 0.432-1.385 0.432h-5.061v-6.175zM56.832 24.846c-0.322 0.323-0.694 0.416-1.525 0.416h-5.2l-0.001-6.736h5.2c0.832 0 1.202 0.225 1.526 0.549 0.37 0.369 0.556 0.921 0.556 2.998 0 2.126-0.232 2.45-0.556 2.773z M101.149 25.262h-0.001c-0.045-0.561-0.186-1.318-0.186-1.872-0.046-4.666-1.531-5.847-4.899-6.585v-0.093c3.93-0.738 5.361-2.098 5.361-7.828 0-4.020-0.367-5.796-1.8-7.227-1.248-1.248-3.049-1.656-5.822-1.656h-21.879v7.298h3.368v17.965h-3.368v6.737h16.28v-6.737h-3.368v-5.052h3.146c1.57 0 2.126 0.069 2.539 0.485 0.463 0.463 0.602 0.949 0.694 3.351 0.185 5.404 0.556 6.502 1.246 7.193 0.557 0.555 1.249 0.759 3.189 0.759h8.834v-6.737l-3.334-0zM91.028 13.060c-0.276 0.277-0.784 0.413-2.123 0.413l-0.001 0.001h-4.070v-6.737h4.070c1.34 0 1.849 0.241 2.124 0.516 0.418 0.462 0.51 1.302 0.51 2.966s-0.092 2.378-0.51 2.84z M125.96 25.262v6.737h-16.842v-6.737h3.93v-17.964h-3.93v-7.298h16.842v7.298h-3.93v17.964z M156.841 1.701c-1.247-1.246-2.634-1.701-6.007-1.701h-11.274c-3.373 0-4.759 0.424-6.007 1.673-1.894 1.848-2.959 5.414-2.959 14.332s1.064 12.509 2.959 14.358c1.246 1.249 2.633 1.636 6.007 1.636h11.274c3.373 0 4.758-0.376 6.007-1.624 1.894-1.849 2.958-5.366 2.958-14.284 0-8.916-1.065-12.541-2.958-14.39zM149.262 24.404c-0.276 0.276-0.738 0.297-2.125 0.297h-3.879c-1.389 0-1.849-0.021-2.126-0.297v0.001c-0.323-0.323-0.555-1.256-0.555-8.373 0-7.070 0.233-8.047 0.554-8.37 0.278-0.277 0.738-0.363 2.128-0.363h3.879c1.387 0 1.85 0.069 2.125 0.345 0.322 0.324 0.555 1.317 0.555 8.386s-0.233 8.051-0.555 8.374z"></path>
              </svg>
            </a>
          </div>
          <div class="col-6 col-sm-3 push-sm-6">
            <a href="/contact" class="d-block">
              <svg class="nav-icon nav-icon--mail">
                <use xlink:href="#icon-mail"></use>
              </svg>
            </a>
          </div>
          <div class="w-100 hidden-sm-up"></div>
          <div class="col-sm-6 pull-sm-3 text-center nav-links">
            <%= link_to('Work', '/work', :class => 'nav nav--work') %>
            <%= link_to('About', '/about', :class => 'nav nav--about') %>
            <%= link_to('Blog', '/blog', :class => 'nav nav--blog') %>
          </div>
        </nav>
      </div>
