
<% 
    pages = ['products', 'work', 'contact'] 
%>

    <div class="collapse text-center" id="mainmenu">
      <% pages.each do |link| %>
        <a href="/<%= link.to_s %>" class="d-flex-item p-3 menu-item<%= current_page.path.include?(link.to_s) ? ' active' : '' %>">
          <%= link.to_s.capitalize %>
        </a>
      <% end %>
    </div>

    <div class="container">
      <nav class="site-header__menu d-flex py-3">
        <a class="mr-auto" href="/">
          <%= image_tag('logo.svg', :height => '24') %>
        </a>
        <a href="#mainmenu" role="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle menu">
          <span class="menu-toggler"></span>
        </a>
      </nav>
    </div>
