
      <div class="container">

        <nav class="site-nav site-nav-header">
          <%= nav_link('Home', '/', :class => 'site-nav-item site-nav-item-header') %>
          <%= nav_link('Work', '/work/', :class => 'site-nav-item site-nav-item-header') %>
          <%= nav_link('Ping', '/contact/', :class => 'site-nav-item site-nav-item-header') %>
        </nav>

        <figure class="site-branding">
          <%= link_to(image_tag('logo.svg'), '/') %>
        </figure>

      </div>
