
<% 
    pages = ['products', 'work', 'contact'] 
%>

    <div class="container-fluid container-fluid--maxwidth">
      <nav class="row justify-content-between">
        <div class="col-12 col-sm-auto text-center text-sm-left">
          <a class="brand d-block" href="/">
            <%= image_tag('logo-home.svg', :height => '24') %>
          </a>
        </div>
        <div class="col-12 col-sm-auto text-center text-sm-left align-self-center pt-4 pt-sm-0">
            <% pages.each do |link| %>
                <a href="/<%= link.to_s %>" class="d-flex-item menu-item<%= current_page.path.include?(link.to_s) ? ' active' : '' %>">
                  <%= link.to_s.capitalize %>
                </a>
            <% end %>
        </div>
      </nav>
    </div>


