
      <div class="container">

        <nav class="header-nav">
          <div class="table-row">
            <div class="table-cell">
              <%= link_to(image_tag('logo.svg', :height => '40'), '/') %>
            </div>
            <div class="table-cell text-right">
              <%= link_to('Contact', '/contact', :class => 'link-unadorned') %>
            </div>
          </div>
        </nav>

      </div>
