
            <div class="container">
              <%= link_to('Work', '/work', :class => 'site-nav-link site-nav-link-work') %>
              <%= link_to('Contact', '/contact', :class => 'site-nav-link site-nav-link-contact') %>
            </div>
