
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

    <symbol id="icon-brio" viewBox="0 0 155 32">
      <title>brio</title>
      <path d="M67.282 23.601v-0.001 0.002zM105.687 7.301h3.929v17.964h-3.929v6.735h16.841v-6.737h-3.929v-17.964h3.929v-7.298h-16.841zM98.855 25.261h-0.001c-0.046-0.563-0.186-1.318-0.186-1.871-0.046-4.667-1.53-5.846-4.898-6.584v-0.094c3.929-0.738 5.361-2.098 5.361-7.828 0-4.019-0.368-5.795-1.8-7.227-1.248-1.248-3.050-1.656-5.821-1.656h-21.877v7.296h3.369v17.964h-3.367v6.737h16.278v-6.736h-3.367v-5.052h3.145c1.57 0 2.126 0.069 2.539 0.485 0.461 0.463 0.602 0.949 0.695 3.351 0.186 5.404 0.555 6.501 1.248 7.194 0.557 0.553 1.25 0.758 3.19 0.758h8.833v-6.737l-3.342 0.001zM88.737 13.061c-0.275 0.277-0.782 0.413-2.12 0.413l-0.002-0.002h-4.071v-6.735h4.069c1.34 0 1.848 0.242 2.124 0.516 0.417 0.463 0.51 1.302 0.51 2.967 0 1.663-0.091 2.378-0.509 2.841l-0.001-0zM60.753 15.79v-0.092c3.369-0.926 5.068-2.884 5.068-7.78 0-2.496-0.616-4.687-2.093-6.213-1.246-1.246-2.725-1.702-5.59-1.702h-22.086v7.297h3.369v17.964h-3.369v6.737h22.036c2.634 0 4.349-0.389 5.69-1.729 1.477-1.479 2.363-3.485 2.363-6.672l-0.002 0.002c0-5.269-2.023-6.931-5.389-7.812v-0.002l0.002 0.003zM48.964 6.742h5.061c0.878 0 1.2 0.23 1.431 0.463 0.325 0.323 0.509 1.018 0.509 2.589 0 1.617-0.23 2.316-0.553 2.686-0.277 0.277-0.597 0.431-1.383 0.431l-0.002 0.006h-5.061v-6.176l-0.002 0.002zM55.686 24.846c-0.323 0.323-0.693 0.415-1.523 0.415h-5.201v-6.735h5.196c0.834 0 1.204 0.223 1.527 0.548 0.371 0.369 0.557 0.92 0.557 2.998 0 2.126-0.23 2.448-0.553 2.773l-0.002 0.002zM152.269 1.702c-1.248-1.247-2.635-1.702-6.007-1.702h-11.276c-3.37 0-4.757 0.424-6.007 1.672-1.894 1.847-2.956 5.413-2.956 14.33 0 8.918 1.064 12.508 2.957 14.357 1.248 1.247 2.635 1.635 6.007 1.635h11.274c3.374 0 4.759-0.376 6.007-1.624 1.894-1.849 2.957-5.367 2.957-14.284s-1.060-12.541-2.954-14.389l-0.004 0.004zM144.691 24.402c-0.277 0.275-0.738 0.297-2.126 0.297h-3.88c-1.387 0-1.849-0.022-2.126-0.299l-0.002-0.004c-0.323-0.323-0.554-1.256-0.554-8.37 0-7.071 0.232-8.048 0.554-8.37 0.277-0.277 0.738-0.363 2.128-0.363h3.879c1.387 0 1.848 0.068 2.126 0.346 0.321 0.322 0.553 1.316 0.553 8.385s-0.232 8.050-0.555 8.374l0.002 0.004zM0 0.004v31.996h31.997v-31.996h-31.997zM25.896 18.823h-7.077v7.076h-5.641v-7.076h-7.077v-5.642h7.077v-7.076h5.642v7.077h7.077l-0 5.642v-0.001z"></path>
    </symbol>

    <symbol id="icon-mail" viewBox="0 0 32 32">
      <title>mail</title>
      <path d="M15.996 15.457l16.004-7.539v-3.918h-32v3.906zM16.004 19.879l-16.004-7.559v15.68h32v-15.656z"></path>
    </symbol>
    
  </defs>
</svg>
