---
  title: Periodic Table of White Mountain 4000-Footers
---

    <section class="page-section page-section-alt page-section-periodic-header">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article class="teaser-text text-centered">
              <h2 class="heading heading-primary">
                Periodic Table of White Mountain 4000-Footers
              </h2>
              <p>
                Format: 18"x24" Portrait<br>
                Paper: 80 # endurance gloss cover<br>
                Production Method: Offset<br>
                Printer: R.C. Brayshaw &amp; Company<br>
                Type: Neutraface<br>
                Foundry: House Industries<br>
                Purchase from: <a href="http://www.mountainwanderer.com/" class="link link-unadorned" target="_blank">The Mountain Wanderer</a>
              </p>
            </article>
          </div>
        </div>
    </section>

    <section class="page-section page-section-periodic-body">
      <div class="jack"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>
              A NH native, I started hiking in the White Mountains when I was four years old. Even immediately after finishing hikes, I remember poring over maps and guidebooks, scouting the next adventure. I was hooked...still am.
            </p>
            <figure class="faq-graphic">
              <div class="faq-graphic-img">
                <%= image_tag('periodic/poster-pic-overview.jpg', :class => 'img-responsive') %>
              </div>
              <figcaption class="faq-graphic-caption">
                The poster is 18"W x 24"H and set in portrait orientation
              </figcaption>
            </figure>
            <p>
              A soon-to-be dad, I want to foster the same sense of anticipation in my little one. Since my wife is a scientist, I thought it would be fun to extend the periodic table paradigm to peak-bagging. Little did I know just how darned hard that would be!
            </p>
            <p>
              Hard, huh?! Sounds like fun to me!
            </p>
            <p>
              You're absolutely right! Producing this was terrific fun. But, it was challenging too, especially when it came to walking the fine line between respecting the periodic paradigm and knowing when to deviate from it. I agonized so much that I ended up producing four or five very alternate versions, all of which I ultimately walked away from...for now.
            </p>
            <p>
              Moreover, not all the data were as cut and dry as, say, elevation or rank by elevation. In some cases, I just had to make judgement calls, and I knew that might raise questions. Let me try to address some of the more obvious ones below. 
            </p>
            <h3 class="faq-q" id="difficulty">
              Difficulty ratings
            </h3>
            <p>
              Such ratings are always going to be subjective&mdash;a given peak can be difficult one day and easy the next. So, I just did my level best to identify the generally difficult and generally moderate. Caveat emptor!
            </p>
            <figure class="faq-graphic">
              <div class="faq-graphic-img">
                <%= image_tag('periodic/poster-pic-detail.jpg', :class => 'img-responsive') %>
              </div>
              <figcaption class="faq-graphic-caption">
                Colors correspond to White Mountain regions
              </figcaption>
            </figure>
            <p>
              One of the great things about doing the 4000s is realizing that what you think will be hard will sometimes be easy and what you think will be easy will quite often turn out to be dreadfully hard.
            </p>
            <h3 class="faq-q" id="number-of-trails">
              Hey, pal, Cabot only has one trail!
            </h3>
            <p>
              This is true. But it's also not true. I think there's a Frost poem to back me up: two trails converged in a wood, and I took them both.
            </p>
            <p>
              Seriously, I think this will be one of those stats that gets me in trouble, both with John Q. Public and friends who make trail signs. I'm <a href="http://4.bp.blogspot.com/-T4wqPxuFIxI/Ub5a67RBwDI/AAAAAAAAImI/uLfOMdJhbZA/s1600/IMG_1448.JPG" target="_blank">looking at you</a>, Doug Mayer.
            </p>
            <h3 class="faq-q" id="summit-type">
              Summit type
            </h3>
            <p>
              Another can of worms! If you cast your eyes to the legend, you'll note that I used the term "alpine" to characterize certain peaks, not "alpine zone" or "treeline" or even "exposed".
            </p>
            <p>
              The reason I avoided "alpine zone" is that, <i>strictly speaking</i>, it only applies to the top seven summits in terms of height, as I understand it. From an experiential standpoint, that didn't feel right, given that some summits feel decidedly alpine (Moosilauke and Bondcliff, for instance).
            </p>
            <p>
              The term "treeline" seemed to be fraught with similar perils. Thus, I avoided it.
            </p>
            <figure class="faq-graphic">
              <div class="faq-graphic-img">
                <%= image_tag('periodic/poster-pic-legend.jpg', :class => 'img-responsive') %>
              </div>
              <figcaption class="faq-graphic-caption">
                A close-up of the legend
              </figcaption>
            </figure>
            <p>
              Right up until the day before printing, I had settled on the word "exposed", because it adequately described summits like South Kinsman, Garfield, and others where the summit area offers few places to hide from the elements.
            </p>
            <p>
              At the last minute, though, I balked, mainly because I felt like all peaks are "exposed" to some extent&mdash;hikers are exposed as soon as they step out of their homes, I suppose.
            </p>
            <figure class="faq-graphic">
              <div class="faq-graphic-img">
                <%= image_tag('periodic/poster-pic-bottom.jpg', :class => 'img-responsive') %>
              </div>
              <figcaption class="faq-graphic-caption">
                Another perspective on the legend
              </figcaption>
            </figure>
            <p>
              So, basically what I'm saying is that I based that characterization on a sense of "meadow-iness", which just didn't seem like a good word to put in a legend.
            </p>
            <h3 class="faq-q" id="checkbox">
              Why not a checkbox for bagged peaks?
            </h3>
            <p>
              Stay tuned for something along those lines but different.
            </p>
            <h3 class="faq-q" id="errors">
              Errata
            </h3>
            <p>
              Despite my attempts to be thorough, I'm sure I've made mistakes or oversights. If you catch any or want to share any observations, please send them via the form below. Connecting with other passionate outdoors-folk is always great fun! Thank you for taking an interest in the project!
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="page-section page-section-alt page-section-contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="heading heading-primary">
              Contact
            </h2>
            <form class="contact-form" name="contact" action="thank-you">
              <div class="form-field">
                <label class="form-label">
                  First Name
                </label>
                <input type="text" name="first_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Last Name
                </label>
                <input type="text" name="last_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Email
                </label>
                <input type="email" name="email">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Your message
                </label>
                <textarea name="message"></textarea>
              </div>
              <div class="form-field form-field-submit">
                <button class="button-submit">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

