
<p>
  The Big Boulder Initiative was eager to sustain the momentum of its eponymous conference and thus ensure its long-term viability by way of a membership model, blog, and website.
</p>

<p>
  To ensure brand consistency, they asked me to style their third-party membership portal, which used a django-based templating language, and their WordPress.Com blog.
</p>

<p>
  I managed to do this and maintain the existing conference site while coming in significantly under budget.
</p>
