
<p>
  Before being asked to lend a hand updating and maintaining the Calgary Farmer's Market site, I had never worked on an ExpressionEngine site before.
</p>

<p>
  Every time I'm exposed to a different templating platform, though, I learn new things...like how to use the modulo operator.
</p>

<p>
  Working with the folks from the market was great too. They're always producing new content and keeping their site as fresh as their produce!
</p>
