<p>
  My previous employer partnered with a sports-focused digital agency to build a Rails app for the then inaugural College Football Playoff season. The site consisted of many moving parts, including the aforementioned Rails app, a WordPress admin backend, and some dynamic Angular bits.
</p>
<p>
  My role was to manage the project and work closely with the partnering agency's designer to ensure designs were feasible within a responsive context. Indeed, I prototyped the designs in HTML and CSS, combining Twitter's Bootstrap framework and my own object-oriented HTML/CSS.
</p>