
<p>
  I'm partial to web apps&mdash;there's something democratic about their reach (not confined to one operating system or another).
</p>

<p>
  Moreover, HTML is like an old friend, so I feel at home even when I'm developing a mobile-only application. 
</p>

<p>
  During projects like this one, where API's like GoogleMaps are invaluable, you also come to appreciate how many brilliant tools are out there for all to use. Makes me grateful to be part of this tech wave.
</p>
