
<p>
  Who wouldn't want to work with colorful beer labels?!
</p>

<p>
  Curiously, Fuller's grungy style was a bit of a departure from my own when I helped design and code a Facebook Tab for one of their campaigns.
</p>

<p>
  But, I always enjoy stepping out of my "clean" comfort zone to experiment with different styles&mdash;in this case, metal textures, burned layers, and lots of grit.
</p>

<p>
  I confess that I'm not a big Facebook user either, so it was fun to get exposure to one of the myriad "social" ways businesses court their customers.
</p>
