
<p>
  In the fall of 2013, I was part of an ambitious attempt to redesign and develop a responsive website for the fast-growing startup Gnip, a longtime client of the agency where I used to work.
</p>

<p>
  It was "ambitious" because we aimed to design and build a 130-page site in six weeks. Fortunately, our team was up to the challenge!
</p>

<p>
  We also had our favorite tool in our back pocket: the static site generator known as Middleman App. It allowed us to spin up sets of pages from common data models. 
</p>

<p>
  In the end, the site met its goals: the marketing team got more leads and had more control over content. Even better, Gnip was acquired by Twitter a few months later.
</p>
