
<p>
  Heavybit Industries was pressed for time and needed help designing and coding the multimedia library portion of their public-facing Sinatra app.
</p>
<p>
  So, over the course of two weeks, I partnered with their backend team to first design, then code the frontend for the library. In the end, the biggest challenge was pinning videos and controls as users scrolled up and down the page.
</p>
<p>
  But, despite the time crunch, I really enjoyed working with the talented and motivate folks at Heavybit.
</p>
