
<p>
  In the early phases of a start up, it can be hard to envision how your data might be consumed by clients. Oftentimes, there are elegant and elaborate data models without any kind of window into those data.
</p>

<p>
  Icebrg IO was in just such a position when they asked us to step in and help concept a d3 dashboard and build a working prototype.
</p>
