
<p>
  Sometimes I'm asked to create websites; sometimes it's <i>anything digital</i>. Such was the case with Lagrange.
</p>

<p>
  I've helped this fast-paced Boulder start-up with investor pitch decks (PowerPoint), product videos, and even standalone app demos&mdash;basically, replicating their app to work on a desktop for presentation purposes.
</p>

<p>
  I always enjoy working with these guys because they move fast but have a lot of fun.
</p>
