
<p>
  Single-page sites can be intimidating, but often they're precisely what a new company needs, the more so since, when starting out, most businesses don't have a bevy of content to rely on.
</p>

<p>
  In those cases, it's best to be friendly and approachable.
</p>
<p>
  Sam and Michael are affable guys, so a warm, inviting design wouldn't be a stretch by any means. Indeed, showcasing their grounded approach to team-building with subtle "waypoint" animations and bright colors seemed natural, and we nailed it on the first try.
</p>
