
<p>
  Single-page sites can be intimidating, but often their precisely what a new company needs, the more so since, when starting out, most businesses don't have a bevy of content to rely on.
</p>

<p>
  In those cases, it's best to be friendly and approachable. That's how I approached their site, with subtle "waypoint" animations and bright colors, which reflected Sam and Michael's own warm personalities and showcased their grounded approach to team-building.
</p>
