
<p>
  During the winter of 2015, I produced an 18x24" poster organizing New Hampshire's 4000-Foot Peaks into something vaguely resembling the periodic table. I normally work on the web, so I found the rigors of print design terrifying yet thrilling, especially the imperative to get it right the first time.
</p>
<p>
  Despite the occasional fit of terror, I enjoyed working on the poster immensely, the more so since I grew up hiking in the White Mountains and often find myself homesick. True, the places I've landed (Seattle and Boulder) have their own beautiful mountains. But there's something about the Whites that's special.
</p>
