        <p>
          The Periodic Table of Ski Resorts is an <q>alpine off-shoot</q> of my Periodic Table of White Mountain 4000-Footers. This particular print series brings a data-oriented approach to different ski regions by packing extensive detail about each ski resort into an 24” x 18” poster.
        </p>
