
<p>
  During 2014 World Series, Stand Up To Cancer (SU2C) asked viewers to commemorate the lives of loved ones by posting a placard on a subdomain of the SU2C website. I designed and coded the frontend for that site.
</p>
<p>
  Knowing that there would be a tremendous load on the site after it was announced on-air, I created a simple design that minimized server requests (e.g., decorative imagery and fancy fonts).
</p>
<p>
  Ultimately, the campaign was a big success and the site didn't buckle under pressure.
</p>
