
<p>
  Stand Up To Cancer (SU2C) held a novel event where celebrities would call folks who were affected by cancer. As part of that event, I designed and coded the frontend for the android web app celebrities would use over the course of the evening.
</p>
<p>
  Luckily, we checked the app on iOS devices during development, for many celebrities ended up using their own devices during the event. Better safe than sorry!
</p>
