
<p>
  Trelora is trying to disrupt the real estate industry by simplifying homebuying through technology and knowledge-sharing.
</p>

<p>
  Trelora was just gaining traction when they asked for help re-positioning their marketing site.
</p>

<p>
  Specifically, they were looking to take certain aspects of their existing site&mdash;things like overly-wrought JS animations&mdash;and translate them (rapidly) into more intuitive and consumable stories.
</p>

<p>
  One such pain point was their "Buyer's Journey" page chronicling how Trelora approaches the buying process. We knew they were making a video for this story, but in order to launch with something, we made a simple timeline that aimed at telling two stories side-by-side.
</p>

<p>
  I particularly enjoyed working with <a href="http://www.houseind.com/" target="_blank">House Industries</a> to use the webfont version of their lovely Neutraface typeface.
</p>
