
<p>
  I used to ride my bike a lot in Boulder, even raced it <a href="http://bicyclerace.com/" target="_blank">uphill</a> on occasion.
</p>

<p>
  So, when my former agency asked if I'd be interested in redesigning a site to pitch the idea of a US Cycling Monument in Boulder, it took about a nanosecond to reply.
</p>

<p>
  Because USCM organizers were in fundraising mode, they asked if I could think of ways to encourage tiered-levels of support. A big fan of professional cycling's mountain pass ratings, I incorporated their rating levels to devise a giving campaign that they embraced enthusiastically.
</p>
