
<p>
  I kept track of my 4000s on various pieces of paper and then via some primitive word processing software from the 1990s. That worked just fine.
</p>
<p>
  But, with a baby boy on the way, I found myself imagining something more engaging&mdash;something that would appeal to those who like to collect things like <a href="http://media.web.britannica.com/eb-media/00/129300-050-EB4B0345.jpg" target="_blank">stamps</a> and relive journeys through momentos, like the Camino de Santigo's <a href="https://en.wikipedia.org/wiki/Camino_de_Santiago#Credencial_or_pilgrim.27s_passport" target="_blank">Pilgrim's Passport</a>.
</p>
<p>
  When Steve Smith said "it's just a concept waiting for someone to do it," I felt compelled but knew I'd need help. Luckily, my sister Kate was keen to lend a hand. Having worked at Starbucks and tested their own coffee passport, she was the ideal partner.
</p>

