---
  title: Undercast Approaches to the White Islands of New Hampshire
  og_img: https://withbr.io/images/og/undercast-approaches.png
  og_desc: "This elegantly crafted map reveals New Hampshire's land above 4000-feet in a novel, elegant way. Lofty landforms become islands, rocks, and skerries, while other familiar landmarks transform into coves, harbors, and bays. Incorporating production methods normally reserved for wedding invitations, the 18x12-inch print is letterpressed and foil stamped using tonal ink in conjunction with gold and silver matte foil on 100# Neenah Classic Crest chambray blue paper."
---

    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-xl-8">
            <div class="page-section__lead text-center">
              <h2 class="page-section__heading">
                <span>Undercast Approaches to the White Islands of New Hampshire</span>
              </h2>
              <p>
                On those magical days when clouds settle in valleys and summits peek out above, you might find the landscape more nautical than orographic. 
              </p>
            </div>
          </div>
        </div>
        <figure class="text-center">
          <%= image_tag('work/undercast-approaches-showcase2.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead">
              <p>
                This elegantly crafted map runs with that concept, revealing New Hampshire's land above 4000' in a novel, elegant way. Lofty landforms become islands, rocks, and skerries, while other familiar landmarks transform into coves, harbors, and bays.
              </p>
            </div>
          </div>
        </div>
        <figure class="text-center">
          <%= image_tag('work/undercast-approaches5.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead">
              <p>
                Those new to hiking in the Whites will find their sea legs in places like "Tuckerman Harbor" and the "Grand Kancamagus Banks". Seasoned trampers will delight in far-flung places such as "Port Above Nubble" and "Barebooters Bight". The map's novelty doesn't stop at the conceptual level, though. 
              </p>
            </div>
          </div>
        </div>
        <figure class="text-center">
          <%= image_tag('work/undercast-approaches2.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead">
              <p>
                Incorporating production methods normally reserved for wedding invitations, the 18x12" print is letterpressed and foil stamped using tonal ink in conjunction with gold and silver matte foil on 100# Neenah Classic Crest "chambray blue" paper.
              </p>
            </div>
          </div>
        </div>
        <figure class="text-center">
          <%= image_tag('work/undercast-approaches3.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead">
              <p>
                <b>Available at the following retailers</b>: <a href="http://www.mountainwanderer.com/">The Mountain Wanderer</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

