---
  title: Undercast Approaches to the White Islands of New Hampshire
  og_img: https://withbr.io/images/og/undercast/undercast-approaches.png
  og_desc: "This elegantly crafted map reveals New Hampshire's land above 4000-feet in a novel, elegant way. Lofty landforms become islands, rocks, and skerries, while other familiar landmarks transform into coves, harbors, and bays. Incorporating production methods normally reserved for wedding invitations, the 18x12-inch print is letterpressed and foil stamped using tonal ink in conjunction with gold and silver matte foil on 100# Neenah Classic Crest chambray blue paper."
  page_hero: undercast
---

    <div class="container-fluid" style="max-width:95%;">
      <div class="page-section page-section--product">
        <div class="row justify-content-center mt-4 pt-4">
            <div class="col-lg-10 col-xl-8">
              <div class="page-section__lead page-section__lead--product">
                <h2 class="page-section__heading text-center">
                  <span>Undercast Approaches to the White Islands of New Hampshire</span>
                </h2>
                <p>
                  On those magical days when clouds settle in valleys and summits peek out above, you might find the landscape more nautical than orographic. 
                </p>
                <figure class="text-center mb-5">
                  <%= image_tag('products/undercast/undercast-approaches.png', :class => 'img-fluid') %>
                </figure>
                <p>
                  This elegantly crafted map runs with that concept, revealing New Hampshire's land above 4000' in a novel, elegant way. Lofty landforms become islands, rocks, and skerries, while other familiar landmarks transform into coves, harbors, and bays.
                </p>
                <p>
                  Those new to hiking in the Whites will find their sea legs in places like "Tuckerman Harbor" and the "Grand Kancamagus Banks". Seasoned trampers will delight in far-flung places such as "Port Above Nubble" and "Barebooters Bight". The map's novelty doesn't stop at the conceptual level, though. 
                </p>
                <figure class="text-center mb-5">
                  <%= image_tag('products/undercast/undercast-approaches3.jpg', :class => 'img-fluid') %>
                </figure>
                <p>
                  Incorporating production methods normally reserved for wedding invitations, the 18x12" print is letterpressed and foil stamped using tonal ink in conjunction with gold and silver matte foil on 100# Neenah Classic Crest "chambray blue" paper.
                </p>
                <p>
                  <b>Available at the following retailers</b>: <a href="http://www.mountainwanderer.com/">The Mountain Wanderer</a>.
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>

