---
  title: Contact
---


    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-lg-6">
            <div class="row justify-content-between">
              <div class="col-lg-8">
                <div class="page-header__title">
                    Contact
                </div>
              </div>
              <div class="col-lg-3">
                <ul class="page-header__specs">
                  <li>info@withbr.io</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="page-header__blurb">
              <%= lorem.words(60) %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="page-section">
      <div class="container-fluid container-fluid--maxwidth">
        <form class="contact-form" name="contact" netlify-honeypot="fu" action="/contact/thank-you" netlify>
              <div hidden>
                <label>Don’t fill this out: <input name="fu"></label>
              </div>
              <div class="row form-field">
                <div class="col-sm-6">
                    <label class="form-label">
                      First Name
                    </label>
                    <input class="form-control" type="text" name="first_name">
                </div>
                <div class="col-sm-6 mt-4 mt-sm-0">
                    <label class="form-label">
                      Last Name
                    </label>
                    <input class="form-control" type="text" name="last_name">
                </div>
              </div>
              <div class="form-field">
                <label class="form-label">
                  Email
                </label>
                <input class="form-control" type="email" name="email">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Your message
                </label>
                <textarea class="form-control" name="message" rows="10"></textarea>
              </div>
              <div class="form-field form-field-submit">
                <button class="button-submit">
                  Send
                </button>
              </div>
        </form>
      </div>
    </section>
