---
  title: Periodic Table of Ski Resorts - Colorado
  og: 
---

    <section class="page-section page-section--text">
      <div class="container">
        <figure class="text-center">
          <%= image_tag('ski/periodic-table-of-colorado-resorts.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-5 pt-5">
          <div class="col-lg-8">
            <h2 class="page-section__heading text-center">
              <span>Periodic Table of Ski Resorts - Colorado</span>
            </h2>
            <article class="page-section__lead">
              <p>
                The Periodic Table of Ski Resorts series brings a data-oriented approach to different ski regions by packing extensive detail about each ski resort into a 24” x 18” poster.
              </p>
              <p>
                 The Colorado print uses current data from the 2014-2015 season and features all major and minor resorts in Colorado including: Vail, Beaver Creek, Aspen, Telluride and Arapahoe Basin.
              </p>
              <p>
                 Each individual box contains information on a particular ski resort’s vertical rise, base and summit elevations, average amount of snowfall, trail difficulty, number of runs, number of lifts, and available indicators for night skiing, artificial snowmaking, terrain parks and Nordic (XC) skiing.
              </p>
              <p>
                <b>Available at</b>: <a href="https://www.circlesquarediamond.com/collections/periodic-table-of-ski-resorts/products/periodic-table-ski-resorts-colorado" target="_blank">Circle Square Diamond</a>
              </p>
            </article>
          </div>
        </div>
      </div>
    </section>


