---
  title: Periodic Table of Ski Resorts - Colorado
---

    <section class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-2">
            <dl class="work-info">
              <dt class="work-info-dt">
                Title
              </dt>
              <dd class="work-info-dd">
                Periodic Table of Ski Resorts: Colorado
              </dd>
              <dt class="work-info-dt">
                Format
              </dt>
              <dd class="work-info-dd">
                18"x24" Portrait
              </dd>
              <dt class="work-info-dt">
                Typeface
              </dt>
              <dd class="work-info-dd">
                Neutraface (House Industries)
              </dd>
              <dt class="work-info-dt">
                Purchasing
              </dt>
              <dd class="work-info-dd">
                <a href="http://www.circlesquarediamond.com/products/periodic-table-ski-resorts-colorado" class="link link-unadorned" target="_blank">Circle, Square, Diamond Art</a>
              </dd>
            </dl>
          </div>
          <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-0 col-lg-9 col-lg-offset-1">
            <figure class="faq-graphic">
              <div class="row">
                <div class="col-md-8">
                  <%= image_tag('ski/periodic-table-of-colorado-resorts.jpg', :class => 'img-responsive') %>
                </div>
                <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                  <div class="faq-graphic-caption">
                    An infographic for the ski enthusiast
                  </div>
                </figcaption>
              </div>
            </figure>
            <div class="faq-copy">
              <div class="row">
                <div class="col-md-8">
                  <p>
                    The Periodic Table of Ski Resorts is an <q>alpine off-shoot</q> of my Periodic Table of White Mountain 4000-Footers. This particular print series brings a data-oriented approach to different ski regions by packing extensive detail about each ski resort into a 24” x 18” poster.
                  </p>
                </div>
              </div>
            </div>
            <figure class="faq-graphic">
              <div class="row">
                <div class="col-md-8">
                  <%= image_tag('ski/poster-side.jpg', :class => 'img-responsive') %>
                </div>
                <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                  <div class="faq-graphic-caption">
                    Colors correspond to resort acreage with the warmest colors indicating the largest resorts
                  </div>
                </figcaption>
              </div>
            </figure>
            <div class="faq-copy">
              <div class="row">
                <div class="col-md-8">
                  <p>
                    Each individual box contains information on a particular ski resort’s vertical rise, base and summit elevations, average amount of snowfall, trail difficulty, number of runs, number of lifts, and available indicators for night skiing, artificial snowmaking, terrain parks and Nordic (XC) skiing.
                  </p>
                </div>
              </div>
            </div>
            <figure class="faq-graphic">
              <div class="row">
                <div class="col-md-8">
                  <%= image_tag('ski/poster-cats.jpg', :class => 'img-responsive') %>
                </div>
                <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                  <div class="faq-graphic-caption">
                    Pet-approved
                  </div>
                </figcaption>
              </div>
            </figure>
            <div class="faq-copy">
              <div class="row">
                <div class="col-md-8">
                  <p>
                    The Colorado print uses current data from the 2014-2015 season and features all major and minor resorts  in Colorado including: Vail, Beaver Creek, Aspen, Telluride and Arapahoe Basin.
                  </p>
                </div>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </section>

