---
  title: Work
---

    <section class="page-section page-section--text">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-8">
            <h2 class="page-section__heading text-center">
              <span>Products</span>
            </h2>
            <p class="page-section__lead text-center">
              During the past few years, I've sifted through maps and tables looking for compelling stories in data. Below are a few examples of what I've found.
            </p>
          </div>
        </div>
        <a href="/work/undercast-approaches-to-the-white-islands-of-new-hampshire" class="product product--new product--undercast-approaches">
        </a>
        <div class="row">
          <div class="col-lg-6">
            <a href="/work/periodic-table-of-ski-resorts-california" class="product product--periodic-ski-cali">
            </a>
            <div class="row">
              <div class="col-lg-6">
                <a href="/work/periodic-table-of-ski-resorts-colorado" class="product product--periodic-ski-co">
                </a>
              </div>
              <div class="col-lg-6">
                <a href="/work/periodic-table-of-white-mountain-4000-footers" class="product product--wm-periodic">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <a href="/work/topographic-fingerprints-of-the-four-thousand-footers" class="product product--fingerprints">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/work/white-mountain-4000-footers-passport" class="product product--wm48">
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/work/new-hampshire-52-with-a-view-passport" class="product product--nh52">
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section--text page-section--gray">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="page-section__heading text-center">
              <span>Web Dev</span>
            </h2>
            <p class="page-section__lead text-center">
              When not working on products, I team up with stellar agencies <span style="font-style:italic;font-family:baskerville,serif;">&amp;</span> clients to build responsive web apps. Below are just a few.
            </p>
          </div>
        </div>
        <div class="row align-items-center justify-content-center mt-5 pt-5">
          <div class="col text-center">
            <svg class="icon icon--su2c">
              <use xlink:href="#icon-su2c"></use>
            </svg>
          </div>
          <div class="col text-center">
            <svg class="icon icon--twitter">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="col text-center">
            <svg class="icon icon--cfp">
              <use xlink:href="#icon-cfp"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
          <div class="col text-center">
            <svg class="icon icon--eb">
              <use xlink:href="#icon-eb"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="w-100 mt-logos hidden-md-down hidden-xl-up"></div>
          <div class="col text-center">
            <svg class="icon icon--rsv">
              <use xlink:href="#icon-rsv"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-lg-down"></div>
          <div class="col text-center">
            <svg class="icon icon--cartalk">
              <use xlink:href="#icon-cartalk"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
          <div class="col text-center">
            <svg class="icon icon--bigboulder">
              <use xlink:href="#icon-bigboulder"></use>
            </svg>
          </div>
          <div class="col text-center">
            <svg class="icon icon--self-made">
              <use xlink:href="#icon-self-made"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="w-100 mt-logos hidden-md-down hidden-xl-up"></div>
          <div class="col text-center">
            <svg class="icon icon--heavybit">
              <use xlink:href="#icon-heavybit"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
          <div class="col text-center">
            <svg class="icon icon--scott-jurek">
              <use xlink:href="#icon-scott-jurek"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="w-100 mt-logos hidden-lg-down"></div>
          <div class="col col-xl-auto text-center">
            <svg class="icon icon--gnip">
              <use xlink:href="#icon-gnip"></use>
            </svg>
          </div>
          <div class="col col-xl-auto text-center">
            <svg class="icon icon--vmp">
              <use xlink:href="#icon-vmp"></use>
            </svg>
          </div>
        </div>
      </div>
    </section>
