---
  title: Portfolio
---

<% if false #content_for :script do %>
    <script>
      // $('.page-section--compact-top').waypoint(function() {
      //   $("body").toggleClass('dimthelights');
      // });
      // $('.showcase').each(function(){
      //     var self = $(this);
      //     $(this).waypoint({
      //          offset: '70%',
      //          handler: function(){
      //             self.addClass('viewed');
      //          },
      //     });
      // });
    </script>
<% end %>


    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-xl-6">
            <div class="row justify-content-between">
              <div class="col-xl-8">
                <div class="page-header__title">
                  Portfolio
                </div>
              </div>
              <div class="col-xl-3">
                <ul class="page-header__specs">
                  <% data.portfolio.each do |skill| %>
                    <li><%= link_to(skill.title, '/portfolio/' + skill.slug) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="page-header__blurb">
              Screens are a cagey canvas&mdash;never standard in size, always shape-shifting. The technology behind them is equally duplicitous, changing on a near monthly basis. People, on the other hand, whether clients or teammates, are much easier to work with, and I've been fortunate to collaborate with some terrific ones! Below are a few examples of such collaborations. If you'd like to hear more about specific projects or the problems they sought to solve, please don't hesitate to <a href="/contact/">contact me</a>.
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="page-section page-section--compact-top">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row justify-content-start">
          <% data.portfolio.each do |skill| %>
              <div class="col-md-6 showcase">
                <figure class="showcase__img">
                    <%= link_to(image_tag('portfolio/' + skill.slug + '/' + skill.slug + '-showcase.png', :class => 'img-fluid'), '/portfolio/' + skill.slug, :class => 'showcase__link', :title => skill.title) %>
                </figure>
              </div>
          <% end %>
        </div>
      </div>
    </div>


