---
  title: Adventures
---

    <div class="page-section page-section--gray">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <h2 class="page-section__heading text-center">
              <span>Trails</span>
            </h2>
            <p class="page-section__lead text-center">
              I maintain the Hurricane Trail <span style="font-style:italic;font-family:baskerville,serif;">&amp;</span> Asquam-Ridge Trail, two of my favorites on Mount Moosilauke. I'm often joined by family and friends, making the work and mood even lighter.
            </p>
          </div>
        </div>
        <div class="row align-items-start justify-content-center mt-5">
          <div class="col-sm-6 mb-4">
            <%= image_tag('work/trails1.jpg', :class => 'img-fluid') %>
          </div>
          <div class="col-sm-6 mb-4">
            <%= image_tag('work/trails2.jpg', :class => 'img-fluid') %>
          </div>
          <div class="col-sm-6 mb-4">
            <%= image_tag('work/trails3.jpg', :class => 'img-fluid') %>
          </div>
          <div class="col-sm-6 mb-4">
            <%= image_tag('work/trails4.jpg', :class => 'img-fluid') %>
          </div>
        </div>
      </div>
    </div>