---
  title: Topographic Fingerprints of the Four Thousand Footers
  og_img: https://withbr.io/images/og/topographic-fingerprints.png
  og_desc: "Reminiscent of vintage scientific identification posters, this elegant print challenges you to become familiar with the topographic 'fingerprints' of all of New Hampshire's 4000-Footers. Adapted from the USGS US Topo series contour lines, the fingerprints are foil stamped in silver matte on a 16x20-inch sheet of 100# Neenah Classic Crest patriot blue paper."
---

    <div class="page-section page-section--text">
      <div class="container">
        <figure class="text-center">
          <%= image_tag('work/fingerprints.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-5 pt-5">
          <div class="col-lg-10 col-xl-8">
            <article class="page-section__lead">
              <h2 class="page-section__heading text-center">
                <span>Topographic Fingerprints of the Four Thousand Footers</span>
              </h2>
              <p>
                Reminiscent of vintage scientific identification posters, this simple, elegant print challenges you to become familiar with the topographic "fingerprints" of all of New Hampshire's 4000-Footers. Adapted from the USGS "US Topo" series contour lines, the fingerprints are foil stamped in silver matte on a 16x20" sheet of 100# Neenah Classic Crest "patriot blue" paper.
              </p>
              <p>
                <b>Available soon!</b>
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>

