---
  title: Products
---


    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-xl-6">
            <div class="row justify-content-between">
              <div class="col-xl-8">
                <div class="page-header__title">
                    Products
                </div>
              </div>
              <div class="col-xl-3" style="font-weight:500;">
                <ul class="page-header__specs">
                  <li>Passports</li>
                  <li>Posters</li>
                  <li>Prints</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="page-header__blurb">
              In early 2015, I decided to give form to an idea that had long been simmering: a "periodic table" of New Hampshire's 4000&#8242; mountains. It was intended to be a gift for one or two hiking friends. Three years and as many print runs later, I'm still humbled by the positive reception. Buoyed by others' passion for the White Mountains, I continue to dream up products that abide by one simple principle: make things I would've enjoyed as a young hiker.
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="page-section page-section--compact-top">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row justify-content-center">
          <% data.products.each do |product| %>
            <div class="col-md-6 showcase">
              <figure class="showcase__img">
                <%= link_to(image_tag('products/' + product.slug + '/' + product.slug + '-hero.jpg', :class => 'img-fluid'), '/products/' +  product.uri, :class => 'showcase__link') %>
              </figure>
            </div>
          <% end -%>
        </div>
      </div>
    </section>

    <section class="page-section page-section--compact-top">
      <div class="container">
        <blockquote class="blockquote">
          <div class="blockquote__quote">
            &ldquo;We have advanced by leaps to the Pacific, and left many a lesser Oregon and California unexplored behind us.&rdquo; 
          </div>
          <footer class="blockquote__footer">
            &ndash; Henry David Thoreau, <cite>The Maine Woods</cite>
          </footer>
        </blockquote>
      </div>
    </section>

