---
  title: Products
---

    <section class="page-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <h2 class="page-section__heading">
              <span>Products</span>
            </h2>
          </div>
        </div>
        <div class="row justify-content-around align-items-start">
          <% data.products.each do |product| %>
            <div class="col-md-6 mb-5">
              <div class="card product">
                <%= link_to(image_tag('products/' + product.slug + '/' + product.slug + '-hero.jpg', :class => 'img-fluid product__img'), '/products/' +  product.uri, :class => 'product__link rounded-top') %>
                <div class="card-body p-4 p-lg-5">
                  <h5 class="card-title mb-4">
                    <%= product.title %>
                  </h5>
                  <p class="card-text">
                    <%= product.desc.blank? ? lorem.words(15) : product.desc %>
                  </p>
                  <p class="m-0 mt-3">
                    <%= link_to('View', '/products/' +  product.uri, :class => 'btn btn-sm btn-outline-dark px-4') %>
                  </p>
                </div>
              </div>
            </div>
          <% end -%>
        </div>
      </div>
    </section>
