
    <section class="page-section">
      <div class="container">
        <div class="table-row">
          <article class="table-cell table-cell-article">
            <h2 class="heading heading-primary">
              Periodic Table of White Mountain 4000-Footers
            </h2>
            <p>
              I recently produced an 18x24" poster organizing New Hampshire's 4000-Foot Peaks into something vaguely resembling the periodic table. I normally work on the web, so I found the rigors of print design terrifying yet thrilling, especially the imperative to get it right the first time.
            </p>
            <p>
              <%= link_to('» Read More', '/periodic-table-of-white-mountain-4000-footers/', :class => 'link-standalone') %>
            </p>
          </article>
          <figure class="table-cell table-cell-figure">
            <div class="callout">
              <%= link_to(image_tag('periodic/poster-screenshot.jpg', :class => 'img-responsive'), '/periodic-table-of-white-mountain-4000-footers/', :class => 'link link-standalone') %>
            </div>
          </figure>
        </div>
      </div>
    </section>
