---
  title: About
---

    <section class="page-section">
      <div class="container">
        <article class="article__text">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <p>
                I learned web development because I wanted to tell a story.
              </p>
              <p>
                It was 1998. I had spent the previous academic year abroad in Paris and had photos to share with family and friends dispersed throughout the country&mdash;this was long before Instagram, mind you. My dad, a computer programmer, suggested I make a webpage and showed me how to <code>view source</code> code. Despite being a literature major, I really took to coding and gradually made a career out of it.
              </p>
            </div>
          </div>
        </article>
        <figure class="article__figure">
          <%= image_tag('about/montage.jpg', :class => 'img-fluid') %>
        </figure>
        <article class="article__text">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <p>
                To this day, I love telling visual stories through code, but within the past few years I've discovered the joys of telling stories in print too. 
              </p>
            </div>
          </div>
        </article>
      </div>
    </section>
