---
  title: Topographic Fingerprints of the Four Thousand Footers
  og_img: https://withbr.io/images/og/topographic-fingerprints.png
  og_desc: "Reminiscent of vintage scientific identification posters, this elegant print challenges you to become familiar with the topographic 'fingerprints' of all of New Hampshire's 4000-Footers. Adapted from the USGS US Topo series contour lines, the fingerprints are foil stamped in silver matte on a 16x20-inch sheet of 100# Neenah Classic Crest patriot blue paper."
---

    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-xl-8">
            <div class="page-section__lead text-center">
              <h2 class="page-section__heading">
                <span>Topographic Fingerprints of the Four Thousand Footers</span>
              </h2>
              <p>
                Reminiscent of vintage scientific identification posters, this elegant print challenges you to become familiar with the topographic "fingerprints" of all of New Hampshire's 4000-Footers. 
              </p>
            </div>
          </div>
        </div>
        <figure class="text-center">
            <%= image_tag('work/fingerprints1.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead">
              <p>
                Adapted from the USGS "US Topo" series contour lines, the fingerprints are foil stamped in silver matte on a 16x20" sheet of 100# Neenah Classic Crest "patriot blue" paper.
              </p>
            </div>
          </div>
        </div>
        <figure class="text-center">
            <%= image_tag('work/fingerprints2.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead">
              <p>
                <b>Available at the following retailers</b>: <a href="http://www.mountainwanderer.com/">The Mountain Wanderer</a> and <a href="https://gusandruby.com/">Gus &amp; Ruby Letterpress</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

