---
  title: Topographic Fingerprints of the Four Thousand Footers
  og_img: https://withbr.io/images/og/topographic-fingerprints.png
  og_desc: "Reminiscent of vintage scientific identification posters, this elegant print challenges you to become familiar with the topographic 'fingerprints' of all of New Hampshire's 4000-Footers. Adapted from the USGS US Topo series contour lines, the fingerprints are foil stamped in silver matte on a 16x20-inch sheet of 100# Neenah Classic Crest patriot blue paper."
---

      <section class="page-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
                <h2 class="page-section__heading">
                  <span>Topographic Fingerprints of the Four Thousand Footers</span>
                </h2>
                <p>
                  Reminiscent of vintage scientific identification posters, this elegant print challenges you to become familiar with the topographic "fingerprints" of all of New Hampshire's 4000-Footers. 
                </p>
                <figure class="page-section__img">
                    <%= image_tag('products/fingerprints/fingerprints-hero.jpg', :class => 'img-fluid') %>
                </figure>
                <p>
                  Adapted from the USGS "US Topo" series contour lines, the fingerprints are foil stamped in silver matte on a 16x20" sheet of 100# Neenah Classic Crest "patriot blue" paper.
                </p>
                <figure class="page-section__img">
                    <%= image_tag('products/fingerprints/fingerprints.jpg', :class => 'img-fluid') %>
                </figure>
                <p>
                  Since summits vary greatly in size, creative license was invoked in fitting each peak into a grid. Indeed, many summit shapes were reduced in size, with contour lines pruned in as systematic a way as possible. In two cases (Lincoln and Wildcat B), contours were added to give a better sense of those two summits' shapes.
                <p>
                  <b>Available at the following retailers</b>: <a href="http://www.mountainwanderer.com/">The Mountain Wanderer</a> and <a href="https://gusandruby.com/">Gus &amp; Ruby Letterpress</a>.
                </p>
              </div>
            </div>
        </div>
      </section>
