---
  title: Periodic Table of White Mountain 4000-Footers
  og: 
---

    <div class="page-section page-section--text">
      <div class="container">
        <figure class="text-center">
          <%= image_tag('periodic/poster-pic-overview.jpg', :class => 'img-responsive faq-graphic-img') %>
        </figure>
        <div class="row justify-content-center mt-5 pt-5">
          <div class="col-lg-10 col-xl-8">
            <article class="page-section__lead">
              <h2 class="page-section__heading text-center">
                <span>Periodic Table of White Mountain 4000-Footers</span>
              </h2>
              <p>
                Designed to complement the popular Periodic Table of the White Mountain 4000-Footers poster, this pocket-size passport-style booklet is tailor-made for keeping track of your 4000-footer climbs. Bound with a handsome dark blue leatherette cover, it includes a page for each of the 48 peaks on which to log date, companions and hike notes. Included are two sets of small peel-off stamps for each peak - one to place on the individual peak page, and another to place on the two-page centerspread to track your overall progress in climbing the "48." The stamps are referenced to a peak abbreviation key on the back page of the passport, using the same format as the poster. 52 pp., 3 1/2" X 5." 
              </p>

              <p>
                <b>Available at the following retailers</b>: <a href="http://www.mountainwanderer.com/proddetail.php?prod=NHH4000" class="link" target="_blank">The Mountain Wanderer</a>, <a href="http://www.bondcliffbooks.com/proddetail.php?prod=BRIO08182015-1" target="_blank">Bondcliff Books</a>, and the <a href="http://amcstore.outdoors.org/white-mountain-4000-footers-passport" target="_blank">AMC Store</a>
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>


