---
  title: Periodic Table of White Mountain 4000-Footers
  og: 
---

    <div class="page-section page-section--text">
      <div class="container">
        <figure class="text-center">
          <%= image_tag('periodic/poster-pic-overview.jpg', :class => 'img-responsive faq-graphic-img') %>
        </figure>
        <div class="row justify-content-center mt-5 pt-5">
          <div class="col-lg-10 col-xl-8">
            <article class="page-section__lead">
              <h2 class="page-section__heading text-center">
                <span>Periodic Table of White Mountain 4000-Footers</span>
              </h2>
              <p>
                A unique poster that presents a wealth of data on the 48 New Hampshire 4000-foot peaks in a format similar to the Periodic Table of Elements you might remember from high school chemistry class. Given for each summit is a difficulty rating, elevation, elevation rank, # of trails at summit, view type, summit type, Federal designation, county location, land manager, region within the Whites, and other features. 18" x 24," printed on 80# glossy stock.  
              </p>

              <p>
                <b>Available at the following retailers</b>: <a href="http://www.mountainwanderer.com/proddetail.php?prod=NHH4000" class="link" target="_blank">The Mountain Wanderer</a>, <a href="http://www.bondcliffbooks.com/proddetail.php?prod=BRIO08182015-1" target="_blank">Bondcliff Books</a>, and the <a href="http://amcstore.outdoors.org/white-mountain-4000-footers-passport" target="_blank">AMC Store</a>
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>


