---
  title: Blog
---

    <div class="page-section">
      <div class="container">
        <article class="mt-4">
          <%= simple_format('Coming soon...') %>
        </article>
      </div>
    </div>
