
    <section class="page-section page-section-intro">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article class="teaser-text text-centered">
                <p>
                  <b>Grazie!</b> I really appreciate you reaching out. I'll try to get back to you as soon as possible, but please bear in mind that, by now, I likely have a newborn at home.
                </p>
              </article>
            </div>
          </div>
        </div>
    </section>
