---
  title: Thanks for Contacting Me!
---


    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-lg-6">
            <div class="row justify-content-between">
              <div class="col-lg-8">
                <div class="page-header__title">
                    Thank you!
                </div>
              </div>
              <div class="col-lg-3">
                <ul class="page-header__specs">
                  <li><%= mail_to('steve@withbr.io') %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="page-header__blurb">
              Thanks for taking time to reach out. I'll get back to you as soon as possible. Until then, have a relaxing day!
            </div>
          </div>
        </div>
      </div>
    </header>

