
<section class="page-section page-section--photo text-center">
  <%= image_tag('contact/thank-you.jpg', :class => 'img-fluid') %>
</section>

<section class="page-section page-section--text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h2 class="page-section__heading text-center">
          <span>Thank You!</span>
        </h2>
        <p class="page-section__lead">
          Thanks for taking time to reach out. I'll get back to you as soon as possible. Until then, have a relaxing day!
        </p>
      </div>
    </div>
  </div>
</section>
