---
  title: Thanks for Contacting Me!
---

<section class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading">
          <span>Thank You!</span>
        </h2>
        <p class="text-center">
          Thanks for taking time to reach out. I'll get back to you as soon as possible. Until then, have a relaxing day!
        </p>
      </div>
    </div>
  </div>
</section>
