
    <section class="page-section page-section-intro">
      <div class="container">
        <article class="page-section-teaser">
          <%= image_tag('trees.svg') %>
          <p>
            <strong>Thank you</strong>! I'll get back to you as soon as possible.
          </p>
        </article>
      </div>
    </section>
