---
  title: Undercast Approaches to the White Islands of New Hampshire
  og_img: https://withbr.io/images/og/undercast-approaches.png
  og_desc: "This elegantly crafted map reveals New Hampshire's land above 4000-feet in a novel, elegant way. Lofty landforms become islands, rocks, and skerries, while other familiar landmarks transform into coves, harbors, and bays. Incorporating production methods normally reserved for wedding invitations, the 18x12-inch print is letterpressed and foil stamped using tonal ink in conjunction with gold and silver matte foil on 100# Neenah Classic Crest chambray blue paper."
---

    <div class="page-section page-section--text">
      <div class="container">
        <figure class="text-center">
          <%= image_tag('work/undercast-approaches.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-5 pt-5">
          <div class="col-lg-10 col-xl-8">
            <article class="page-section__lead">
              <h2 class="page-section__heading text-center">
                <span>Undercast Approaches to the White Islands of New Hampshire</span>
              </h2>
              <p>
                On those magical days when clouds settle in valleys and summits peek out above, you might find the landscape more nautical than orographic. This elegantly crafted map runs with that concept, revealing New Hampshire's land above 4000' in a novel, elegant way. Lofty landforms become islands, rocks, and skerries, while other familiar landmarks transform into coves, harbors, and bays.
              </p>
              <p>
                Those new to hiking in the Whites will find their sea legs in places like "Tuckerman Harbor" and the "Grand Kancamagus Banks". Seasoned trampers will delight in far-flung places such as "Port Above Nubble" and "Barebooters Bight". The map's novelty doesn't stop at the conceptual level, though. 
              </p>
              <p>
                Incorporating production methods normally reserved for wedding invitations, the 18x12" print is letterpressed and foil stamped using tonal ink in conjunction with gold and silver matte foil on 100# Neenah Classic Crest "chambray blue" paper.
              </p>
              <p>
                <b>Available soon!</b>
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>

