

<div class="page-section pt-0 pb-2 text-center">
  <%= image_tag('404/404.jpg', :class => 'img-fluid') %>
</div>

<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading text-center">
          <span>Oops! Something Went Wrong</span>
        </h2>
        <p class="page-section__lead">
          Thanks for taking time to visit my site! I'm sorry you arrived here, but please don't get discouraged. Try clicking my logo in the top left of the main menu above to get to my homepage.
        </p>
      </div>
    </div>
  </div>
</div>


