---
  title: Work
---

    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col col-lg-12 col-xl-8">
            <div class="page-header__title">
                Something Went Wrong!
            </div>
            <div class="page-header__lede">
                Thanks for taking time to visit my site! I'm sorry you arrived here, but please don't get discouraged. Try clicking my logo in the top left of the main menu above to get to my homepage.
            </div>
            <div class="page-header__blurb">
                <%= lorem.words(120) %>
            </div>
          </div>
        </div>
      </div>
    </header>



