
    <section class="page-section page-section-intro">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article class="teaser-text text-centered">
                <p>
                  <b>Oops!</b> I'm sorry you landed here. The site is still fairly new, so try clicking the logo above to get re-oriented.
                </p>
              </article>
            </div>
          </div>
        </div>
    </section>
