---
  title: Work
---

    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-md-6">
            <div class="row justify-content-between">
              <div class="col-lg-8">
                <div class="page-header__title">
                    Oops!
                </div>
              </div>
              <div class="col-lg-3" style="font-weight:500;">
                <ul class="page-header__specs">
                  <li>info@withbr.io</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="page-header__blurb">
              Something went wrong! I'm sorry you arrived here, but please don't get discouraged. Try clicking my logo at the top of the page to get to my homepage. Please feel free to <a href="/contact/">drop me a line</a> to let me know about your misadventure, and I'll fix it straight away. Thanks for taking time to visit my site! 
            </div>
          </div>
        </div>
      </div>
    </header>


