
    <section class="page-section page-section-intro">
      <div class="container">
        <article class="page-section-teaser">
          <%= image_tag('jack.svg') %>
          <p>
            <strong>Rats!</strong> I'm sorry you arrived here. Our satellite must be on the far side of the moon.
          </p>
        </article>
      </div>
    </section>
