
<% content_for :script do %>
    <script>
      $('.showcase-block').each(function(){
          var self = $(this);
          $(this).waypoint({
               offset: '80%',
               handler: function(){
                   self.addClass('viewed');
               },
          });
      });
    </script>
<% end %>

<header class="page-header">
  <div class="container-fluid container-fluid--maxwidth">
    <div class="row">
      <div class="col col-lg-12 col-xl-8">
        <div class="page-header__title mb-3">
            Hi, I'm Steve!
        </div>
        <div class="page-header__lede">
            I'm a dad. I'm a husband. I'm a New Hampshire native with a Colorado problem.
        </div>
        <div class="page-header__blurb">
            <%= lorem.words(120) %>
        </div>
      </div>
    </div>
  </div>
</header>

<% if false %>
  <section class="page-section">
    <div class="container">
      <div class="showcase-block text-center">
        <a href="/products/" class="d-block">
          <% data.products.each do |product| %>
            <%= image_tag('products/' + product.slug + '/' + product.slug + '-showcase.png', :class => 'showcase-block__img ' + product.slug) %>
          <% end -%>
        </a>
      </div>
    </div>
  </section>
<% end %>

