
<section class="page-section page-section--photo page-section--hero">
  <figure class="hero-wrapper">
    <%= image_tag('home/periodic-ski.jpg', :class => 'img-fluid') %>
  </figure>
</section>

<section class="page-section page-section--text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2 class="page-section__heading text-center">
          <span>Howdy!</span>
        </h2>
        <p class="page-section__lead">
          I'm Steve. I rummage through familiar data sets in search of compelling stories, which is to say I geek out on things I enjoy and <a href="/work/">share them</a> with kindred spirits. Like-minded geek or not, thank you for dropping by!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="page-section page-section--photo text-center">
  <%= image_tag('about/montage.jpg', :class => 'img-fluid') %>
</section>

<section class="page-section page-section--text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2 class="page-section__heading text-center">
          <span>About Me</span>
        </h2>
        <p class="page-section__lead">
          I'm a dad. I'm a husband. I'm a New Hampshire native with a Colorado problem. I trail run, hike, and bike. The first album I owned was Blondie's <i>Autoamerican</i>. This past winter, I barely managed to complete a <a href="http://www.48in1winter.com/home.shtml">SSW48</a>. I recently put on two different shoes and walked around an apple orchard for fifteen minutes without noticing. 
        </p>
      </div>
    </div>
  </div>
</section>
