
    <section class="page-section">
      <div class="container">
        <article class="page-section--teaser">
          <p class="my-0">
            With Brio is a small creative studio based in Hanover, NH specializing in design &amp; development. 
          </p>
        </article>
      </div>
    </section>

    <section class="page-section page-section--unpadded">
      <div class="container">
        <a href="/work" class="featured">
          <%= image_tag('home/slideshow-3.jpg', :class => 'd-block img-fluid') %>
        </a>
      </div>
    </section>

    <section class="page-section page-section--extratop">
      <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col text-center">
              <svg class="icon icon--su2c">
                <use xlink:href="#icon-su2c"></use>
              </svg>
            </div>
            <div class="col text-center">
              <svg class="icon icon--twitter">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </div>
            <div class="w-100 mt-logos hidden-md-up"></div>
            <div class="col text-center">
              <svg class="icon icon--cfp">
                <use xlink:href="#icon-cfp"></use>
              </svg>
            </div>
            <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
            <div class="col text-center">
              <svg class="icon icon--eb">
                <use xlink:href="#icon-eb"></use>
              </svg>
            </div>
            <div class="w-100 mt-logos hidden-md-up"></div>
            <div class="w-100 mt-logos hidden-md-down hidden-xl-up"></div>
            <div class="col text-center">
              <svg class="icon icon--rsv">
                <use xlink:href="#icon-rsv"></use>
              </svg>
            </div>
            <div class="w-100 mt-logos hidden-lg-down"></div>
            <div class="col text-center">
              <svg class="icon icon--cartalk">
                <use xlink:href="#icon-cartalk"></use>
              </svg>
            </div>
            <div class="w-100 mt-logos hidden-md-up"></div>
            <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
            <div class="col text-center">
              <svg class="icon icon--bigboulder">
                <use xlink:href="#icon-bigboulder"></use>
              </svg>
            </div>
            <div class="col text-center">
              <svg class="icon icon--self-made">
                <use xlink:href="#icon-self-made"></use>
              </svg>
            </div>
            <div class="w-100 mt-logos hidden-md-up"></div>
            <div class="w-100 mt-logos hidden-md-down hidden-xl-up"></div>
            <div class="col text-center">
              <svg class="icon icon--heavybit">
                <use xlink:href="#icon-heavybit"></use>
              </svg>
            </div>
            <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
            <div class="col text-center">
              <svg class="icon icon--scott-jurek">
                <use xlink:href="#icon-scott-jurek"></use>
              </svg>
            </div>
            <div class="w-100 mt-logos hidden-md-up"></div>
            <div class="w-100 mt-logos hidden-lg-down"></div>
            <div class="col col-xl-auto text-center">
              <svg class="icon icon--gnip">
                <use xlink:href="#icon-gnip"></use>
              </svg>
            </div>
            <div class="col col-xl-auto text-center">
              <svg class="icon icon--vmp">
                <use xlink:href="#icon-vmp"></use>
              </svg>
            </div>
          </div>
      </div>
    </section>
