
<section class="page-section page-section--photo">
  <%= image_tag('home/periodic-ski-cali.jpg', :class => 'img-fluid') %>
</section>

<section class="page-section page-section--text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="page-section__heading text-center">
          <span>About</span>
        </h2>
        <p>
          Howdy! I'm Steve. I'm a visual communicator working online and in print. I specialize in responsive UI design and development, but you may know me through one of my <a href="/work">printed products</a>!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="page-section page-section--photo">
  <%= image_tag('about/montage.jpg', :class => 'img-fluid') %>
</section>

<section class="page-section page-section--text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="page-section__heading text-center">
          <span>Getting Outside</span>
        </h2>
        <p>
          Dolore aut similique provident enim quod enim ea laborum labore eligendi non et. molestias beatae dicta maxime quis unde blanditiis quasi temporibus dignissimos omnis incidunt. vero ex et impedit molestiae.
        </p>
      </div>
    </div>
  </div>
</section>
