

    <section class="page-section showcase">
      <div class="container">
        <div class="table-reset">
          <div class="table-row">
            <figure class="table-cell table-cell-top graphic-frame">
              <% link_to('/work/periodic-table-of-white-mountain-4000-footers', :class => 'graphic-link') do %>
              <%= image_tag('periodic/periodic-4000.jpg', :class => 'img-responsive') %>
              <figcaption class="graphic-link-blurb">
                  <h2 class="graphic-link-heading">
                    Periodic Table of White Mountain 4000-Footers
                  </h2>
                  <div class="graphic-link-desc">
                    A wealth of data on the 48 New Hampshire 4000-foot peaks presented in a visually compelling format.
                  </div>
                </figcaption>
              <% end %>
            </figure>
            <figure class="table-cell table-cell-top graphic-frame">
              <% link_to('/work/white-mountain-4000-footers-passport', :class => 'graphic-link') do %>
                <%= image_tag('passport/passport-showcase.jpg', :class => 'img-responsive') %>
                <figcaption class="graphic-link-blurb">
                  <h2 class="graphic-link-heading">
                    White Mountain 4000-Footers Passport
                  </h2>
                  <div class="graphic-link-desc">
                    A pocket-sized passport designed to help you track and commemorate your 48 Four-Thousand Footers adventure.
                  </div>
                </figcaption>
              <% end %>
            </figure>
            <figure class="table-cell table-cell-top graphic-frame">
              <% link_to('/work/periodic-table-of-ski-resorts-colorado', :class => 'graphic-link') do %>
              <%= image_tag('ski/periodic-table-of-colorado-resorts.jpg', :class => 'img-responsive') %>
              <figcaption class="graphic-link-blurb">
                  <h2 class="graphic-link-heading">
                    Periodic Table of Ski Resorts: Colorado
                  </h2>
                  <div class="graphic-link-desc">
                    Another print applying the periodic table paradigm to the dense yet structure data surrounding ski resorts.
                  </div>
                </figcaption>
              <% end %>
            </figure>
          </div>
        </div>
      </div>
    </section>
