
    <section class="page-section">
      <div class="container">
        <article class="page-section-teaser">
          <p>
            <strong>Hi! I'm Steve.</strong> I'm a visual communicator working online and in print. I specialize in responsive UI design and development, but you may know me through one of the printed products I've created. Regardless, if you'd like to collaborate, <a href="/contact">let's talk</a>!
          </p>
        </article>
        <div class="grid-nav-wrapper">
          <nav class="grid-nav">
            <span class="grid-nav-filter current" data-filter="*">All</span>
            <span class="grid-nav-filter" data-filter=".print">Print</span>
            <span class="grid-nav-filter" data-filter=".digital">Digital</span>
            <span class="grid-nav-filter" data-filter=".responsive">Responsive</span>
          </nav>
        </div>
        <div class="grid">
          <div class="grid-sizer"></div>

          <% data.clients.each do |client| %>
            <figure class="grid-item<%= ' ' + client.tags.join(' ') %>">
              <% link_to(client.url_external == true ? '/work/#' + client.slug : client.url, :class => 'graphic-frame') do %>
                <%= image_tag('home/' + client.slug + '.' + client.img_type, :class => 'img-responsive') %>
              <% end %>
            </figure>
          <% end %>
        </div>
      </div>
    </section>

