---
  page_hero: home
---

    <div class="page-section page-section--home d-flex justify-content-center align-items-center">
      <div class="col-10 col-lg-7">
        <p class="page-section__lead page-section__lead--home text-center">
          Howdy! I'm Steve. I rummage through familiar data sets in search of compelling stories.
        </p>
        <div class="text-center mt-5">
          <a href="/products/" class="btn btn-outline-light">
            View My Products
          </a>
        </div>
      </div>
    </div>

