
<% if false #content_for :script do %>
    <script>
      // $('.showcase-block').each(function(){
      //     var self = $(this);
      //     $(this).waypoint({
      //          offset: '80%',
      //          handler: function(){
      //              self.addClass('viewed');
      //          },
      //     });
      // });
    </script>
<% end %>


    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-xl-6">
            <div class="row justify-content-between">
              <div class="col-xl-8">
                <div class="page-header__title">
                  About
                </div>
              </div>
              <div class="col-xl-3" style="font-weight:500;">
                <ul class="page-header__specs">
                  <li><a href="/products/">Products</a></li>
                  <li><a href="/portfolio/">Portfolio</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="page-header__blurb">
              Hi! I'm Steve. I'm a dad. I'm a husband. I'm a New Hampshire native with a Colorado problem. I work in print and on the web. I sift through maps and tables looking for compelling stories in data. I maintain the Hurricane Trail and the Asquam Ridge Trail on Mount Moosilauke. In 2018, I hiked the Colorado Trail.
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="page-section page-section--compact-top">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row justify-content-start">
          <div class="col-md-6 showcase">
            <figure class="showcase__img">
                <%= link_to(image_tag('portfolio/ui-ux/ui-ux-showcase.png', :class => 'img-fluid'), '/portfolio/', :class => 'showcase__link') %>
            </figure>
          </div>
          <div class="col-md-6 showcase">
            <figure class="showcase__img">
                <%= link_to(image_tag('products/ski/ski-showcase.png', :class => 'img-fluid'), '/products/', :class => 'showcase__link') %>
            </figure>
          </div>
        </div>
      </div>
    </div>


